Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

chore: add .superpowers to gitignore
  .gitignore
Due: none

refactor: move Check Key button inline with license key input
  frontend/src/routes/settings/+page.svelte
Due: frontend

docs: add jobs page redesign implementation plan
  docs/superpowers/plans/2026-03-22-jobs-page-redesign.md
Due: none

fix: handle ARM error responses in maintenance _check_arm
  backend/routers/maintenance.py
Due: backend

fix: reset scroll position before navigating to settings panel
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add sort, filter, stats, and bulk operations to jobs API client
  frontend/src/lib/api/jobs.ts
Due: frontend

feat: add Jobs to sidebar nav, remove card view from jobs page
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jobs/+page.svelte
Due: frontend

feat: extend bottom bar to 2xl, full width, storage deep links
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/files/+page.svelte
Due: frontend

fix: move responsive visibility into BottomStatsBar root element
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/routes/+layout.svelte
Due: frontend

test: add coverage for ripping data cache in system_cache
  tests/services/test_system_cache.py
Due: none

perf: cache setup/status endpoint with 5min TTL
  backend/routers/setup.py
  backend/services/system_cache.py
Due: backend

feat: wire BottomStatsBar at lg, hide sidebar stats below xl
  frontend/src/routes/+layout.svelte
Due: frontend

fix: setup/status uses 2s timeout fallback on cold cache
  backend/routers/setup.py
  backend/services/arm_client.py
Due: backend

revert: remove setup/status cache — was masking ARM connection pool issue
  backend/routers/setup.py
  backend/services/arm_client.py
  backend/services/system_cache.py
Due: backend

fix: storage links use ripper paths, reactive query param on files page
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/routes/files/+page.svelte
Due: frontend

feat: add BottomStatsBar component for lg breakpoint
  frontend/src/lib/components/BottomStatsBar.svelte
Due: frontend

test: fix files page tests for new tab order and $page mock
  frontend/src/routes/files/__tests__/files-page.test.ts
Due: frontend

perf: cache slow ripping-enabled call with 60s TTL
  backend/routers/dashboard.py
  backend/services/system_cache.py
Due: backend

fix: settings deep link scroll, hashchange data loading, drive card duplicate badge
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: prevent background task garbage collection in system cache
  backend/services/system_cache.py
Due: backend

test: cover ripping cache double-check early return path
  tests/services/test_system_cache.py
Due: none

chore(main): release 13.7.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

test: add BottomStatsBar component tests and files tab order test
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
  frontend/src/routes/files/__tests__/files-page.test.ts
Due: frontend

fix: make system_cache tests deterministic by testing _refresh_ripping directly
  tests/services/test_system_cache.py
Due: none

fix: properly await background tasks in system_cache tests for CI reliability
  tests/services/test_system_cache.py
Due: none
