Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

feat(progress): BFF surfaces copy_progress and copy_stage
  backend/routers/jobs.py
  tests/routers/test_progress_copy.py
Due: backend

chore(types): regenerate api.gen.ts with copy_progress fields
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/types/api.gen.ts
Due: frontend

feat(progress): render copy progress on dashboard for copying jobs
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

test(jobs): extract buildJob fixture helper to drop SonarCloud duplication
  frontend/src/routes/jobs/__tests__/job-detail-page.test.ts
Due: frontend

fix(jobs): hide Episodes tab on movie jobs (gate is series AND imdb_id)
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/jobs/__tests__/job-detail-page.test.ts
Due: frontend

fix(jobs): folder imports use the disc 5-stage lifecycle
  frontend/src/lib/__tests__/job-lifecycle.test.ts
  frontend/src/lib/components/JobLifecycle.test.ts
  frontend/src/lib/utils/job-lifecycle.ts
Due: frontend

chore(types): regenerate api.gen.ts
  frontend/src/lib/types/api.gen.ts
Due: frontend

fix(jobs): drop void operator in deriveLifecycle, prefix unused param
  frontend/src/lib/utils/job-lifecycle.ts
  tests/routers/test_progress_copy.py
Due: frontend

chore(main): release 18.1.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: document optional --color-status-* tokens in theme template
  THEME_TEMPLATE.md
Due: none

chore(env): align .env.example with compose webhook-secret convention
  .env.example
  docker-compose.yml
Due: none

fix(dashboard): render 0% progress bar instead of indeterminate spinner
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/TranscodeCard.svelte
Due: frontend

feat(bff): /api/jobs/{id}/metadata + /api/patterns/tokens endpoints
  backend/main.py
  backend/routers/jobs.py
  backend/routers/patterns.py
  backend/services/arm_client.py
  frontend/src/lib/types/api.gen.ts
  tests/routers/test_metadata.py
Due: backend, frontend

feat(ui): pattern editor shows all PATTERN_TOKENS, sorted alphabetically
  frontend/src/routes/settings/+page.svelte
Due: frontend

chore(main): release 18.2.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore: point CLAUDE.md at arm-ai memory and commit-rules
  CLAUDE.md
Due: none

docs: link contracts repo in Related Projects
  README.md
Due: none
