Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

ci: auto-bump bot now derives commit prefix from contracts impact
  .github/workflows/bump-submodule.yml
Due: none

feat: decouple from ripper-side bind mounts
  .env.example
  README.md
  backend/config.py
  backend/main.py
  backend/models/schemas.py
  backend/routers/settings.py
  backend/services/themes.py
  backend/services/themes_migration.py
  backend/services/transcoder_client.py
  docker-compose.yml
  frontend/src/lib/types/arm.ts
  frontend/src/routes/settings/+page.svelte
  frontend/tests/visual/settings.spec.ts
  tests/conftest.py
  tests/routers/test_settings.py
  tests/routers/test_settings_coverage.py
  tests/services/test_themes_migration.py
  tests/services/test_themes_path_resolution.py
  tests/services/test_transcoder_client.py
  tests/services/test_transcoder_client_coverage.py
  tests/test_lifespan.py
Due: backend, frontend

chore(main): release 17.1.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore: drop legacy themes migration module
  backend/main.py
  backend/services/themes_migration.py
  tests/services/test_themes_migration.py
  tests/test_lifespan.py
Due: backend

feat: retire last ripper bind mount via arm-neu logs API
  .env.example
  README.md
  backend/config.py
  backend/routers/jobs.py
  backend/routers/logs.py
  backend/services/arm_client.py
  backend/services/log_reader.py
  backend/services/progress.py
  docker-compose.yml
  tests/conftest.py
  tests/routers/test_jobs.py
  tests/routers/test_logs.py
  tests/routers/test_logs_delete.py
  tests/services/test_log_reader.py
  tests/services/test_log_reader_delete.py
  tests/services/test_progress.py
Due: backend

test: bring routers/logs to 100% + address Sonar findings
  backend/routers/logs.py
  backend/services/arm_client.py
  tests/routers/test_logs_delete.py
  tests/services/test_arm_client_extended.py
Due: backend

fix(settings): UI polish on transcoder Configuration tab
  frontend/src/app.css
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix(settings): null-guard transcoder_config in Logging block
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix(preflight): bump BFF timeout 30s -> 60s
  backend/services/arm_client.py
  tests/services/test_arm_client.py
Due: backend

feat(version): stamp build identity into VERSION at image-build time
  .github/workflows/publish-image.yml
  .github/workflows/publish-prerelease.yml
  Dockerfile
Due: none

feat(settings): show transcoder GPU vendor under version
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

feat(settings): scale Versions card columns to entry count
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix(dashboard): degrade ARM endpoints per-field, sticky-merge in store
  backend/models/schemas.py
  backend/routers/dashboard.py
  frontend/src/lib/stores/__tests__/dashboard.test.ts
  frontend/src/lib/stores/dashboard.ts
  tests/routers/test_dashboard.py
Due: backend, frontend

feat(folder-import): split OMDB match into its own step
  frontend/src/lib/components/FolderImportWizard.svelte
  frontend/src/lib/components/__tests__/FolderBrowserMock.svelte
  frontend/src/lib/components/__tests__/FolderImportWizard.test.ts
Due: frontend

feat(schemas): adopt shared Job/Track/JobSummary contracts (Phase C)
  backend/models/schemas.py
  frontend/src/lib/__tests__/job-fields.test.ts
  frontend/src/lib/components/__fixtures__/job.ts
  frontend/src/lib/types/arm.ts
  tests/test_schemas_contract_adoption.py
Due: backend, frontend

chore(main): release 17.2.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

test(arm_client): contract roundtrip tests catch required-field drift
  tests/services/test_arm_client_contract_roundtrip.py
Due: none

feat(phase): surface transcoder sub-status on job detail page
  backend/routers/transcoder.py
  frontend/src/lib/api/logs.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  tests/routers/test_transcoder.py
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
