Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(frontend): migrate notifications route to LoadState
  frontend/src/routes/notifications/+page.svelte
  frontend/tests/visual/__screenshots__/notifications.spec.ts-snapshots/notifications-loading-chromium-linux.png
  frontend/tests/visual/notifications.spec.ts
Due: frontend

feat(frontend): show em-dash placeholder when stats are missing
  frontend/src/lib/components/JobStatsCard.svelte
  frontend/src/lib/components/JobStatsCard.test.ts
  frontend/src/lib/components/JobStatsPanel.svelte
  frontend/src/lib/components/JobStatsPanel.test.ts
Due: frontend

fix(frontend): dedup theme CSS fetch with in-flight promise guard
  frontend/src/lib/__tests__/theme.test.ts
  frontend/src/lib/stores/colorScheme.ts
Due: frontend

feat(frontend): migrate logs list route to LoadState
  frontend/src/routes/logs/+page.svelte
  frontend/tests/visual/__screenshots__/logs.spec.ts-snapshots/logs-loading-chromium-linux.png
  frontend/tests/visual/logs.spec.ts
Due: frontend

feat(frontend): add EmptyDashboardPanel extracted from dashboard inline markup
  frontend/src/lib/components/EmptyDashboardPanel.svelte
  frontend/src/lib/components/__tests__/EmptyDashboardPanel.test.ts
Due: frontend

feat(frontend): make DiscReviewWidget self-skeletal, replace ad-hoc skeleton
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/DiscReviewWidget.test.ts
Due: frontend

fix(frontend): restore visual status indicator on DiscReviewWidget header
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

feat(frontend): migrate settings route to LoadState
  frontend/src/routes/settings/+page.svelte
  frontend/tests/visual/__screenshots__/settings.spec.ts-snapshots/settings-loading-chromium-linux.png
  frontend/tests/visual/settings.spec.ts
Due: frontend

feat(frontend): make JobRow self-skeletal
  frontend/src/lib/components/JobRow.svelte
  frontend/src/lib/components/JobRow.test.ts
Due: frontend

feat(frontend): add transitions module with reduced-motion support
  frontend/src/lib/__tests__/transitions.test.ts
  frontend/src/lib/transitions.ts
Due: frontend

feat(frontend): add SkeletonCard composing Skeleton primitives
  frontend/src/lib/components/SkeletonCard.svelte
  frontend/src/lib/components/__tests__/SkeletonCard.test.ts
Due: frontend

feat(frontend): migrate dashboard to LoadState + fade transitions + EmptyDashboardPanel
  frontend/src/routes/+page.svelte
Due: frontend

feat(frontend): migrate files route to LoadState
  frontend/src/routes/files/+page.svelte
  frontend/tests/visual/__screenshots__/files.spec.ts-snapshots/files-loading-chromium-linux.png
  frontend/tests/visual/files.spec.ts
Due: frontend

feat(frontend): add Skeleton primitive with theme-aware colors and reduced-motion
  frontend/src/lib/components/Skeleton.svelte
  frontend/src/lib/components/__tests__/Skeleton.test.ts
Due: frontend

style(frontend): use optional chaining for globalThis.window checks
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/lib/transitions.ts
Due: frontend

feat(frontend): add LoadState wrapper with minDelay and error handling
  frontend/src/lib/components/LoadState.svelte
  frontend/src/lib/components/__tests__/LoadState.test.ts
Due: frontend

feat(frontend): make ActiveJobRow self-skeletal
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/ActiveJobRow.test.ts
Due: frontend

feat(frontend): make JobCard self-skeletal
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobCard.test.ts
Due: frontend

feat(frontend): make DriveCard self-skeletal
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/lib/components/DriveCard.test.ts
Due: frontend

feat(frontend): migrate transcoder route to LoadState
  frontend/src/routes/transcoder/+page.svelte
  frontend/tests/visual/__screenshots__/transcoder.spec.ts-snapshots/transcoder-loading-chromium-linux.png
  frontend/tests/visual/transcoder.spec.ts
Due: frontend

feat(frontend): migrate job detail route to LoadState
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/tests/visual/__screenshots__/job-detail.spec.ts-snapshots/job-detail-loading-chromium-linux.png
  frontend/tests/visual/job-detail.spec.ts
Due: frontend

feat(frontend): cache theme CSS in localStorage for instant second-visit paint
  frontend/src/app.html
  frontend/src/lib/__tests__/theme.test.ts
  frontend/src/lib/stores/colorScheme.ts
Due: frontend

feat(frontend): add Playwright visual regression harness
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/fixtures/dashboard.ts
  frontend/tests/visual/__screenshots__/dashboard.spec.ts-snapshots/dashboard-empty-chromium-linux.png
  frontend/tests/visual/dashboard.spec.ts
Due: none

feat(frontend): make TranscodeCard self-skeletal
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/components/TranscodeCard.test.ts
Due: frontend

chore(main): release 16.2.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat(config): add transcoder_enabled flag (default true)
  backend/config.py
  tests/test_config.py
Due: backend

feat(deps): add require_transcoder_enabled guard
  backend/dependencies.py
  tests/test_require_transcoder_enabled.py
Due: backend

test(fixtures): add ripper_only_app_client async fixture
  tests/conftest.py
  tests/test_ripper_only_fixture.py
Due: none

feat(transcoder): gate all /api/transcoder/* behind feature flag
  backend/routers/transcoder.py
  tests/routers/test_transcoder.py
Due: backend

feat(settings): gate transcoder-scoped endpoints behind feature flag
  backend/routers/settings.py
  tests/routers/test_settings.py
Due: backend

feat(settings): skip transcoder config load when disabled
  backend/routers/settings.py
  tests/routers/test_settings.py
Due: backend

feat(jobs): gate transcode-config and retranscode behind feature flag
  backend/routers/jobs.py
  tests/routers/test_jobs.py
Due: backend

feat(dashboard): short-circuit transcoder fetch when flag disabled
  backend/routers/dashboard.py
  tests/routers/test_dashboard.py
Due: backend

feat(config): add /api/config feature-flag discovery endpoint
  backend/main.py
  backend/routers/config.py
  tests/routers/test_config.py
Due: backend

feat(ui): add transcoderEnabled store hydrated from /api/config
  frontend/src/lib/api/config.ts
  frontend/src/lib/stores/__tests__/config.test.ts
  frontend/src/lib/stores/config.ts
Due: frontend

feat(ui): hydrate transcoder-enabled flag from root layout load
  frontend/src/lib/stores/__tests__/config.test.ts
  frontend/src/routes/+layout.ts
Due: frontend

feat(ui): filter transcoder from nav + quick actions when disabled
  frontend/src/routes/+layout.svelte
Due: frontend

feat(ui): hide dashboard transcoding section when disabled
  frontend/src/routes/+page.svelte
Due: frontend

feat(ui): hide transcoder settings tab + subpanels + SKIP_TRANSCODE when disabled
  frontend/src/routes/settings/+page.svelte
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
