Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: make system_cache tests deterministic by testing _refresh_ripping directly
  tests/services/test_system_cache.py
Due: none

fix: properly await background tasks in system_cache tests for CI reliability
  tests/services/test_system_cache.py
Due: none

fix: system_cache test isolation — avoid task.cancel on closed event loop
  tests/services/test_system_cache.py
Due: none

chore(main): release 13.7.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: add image proxy cache design spec
  docs/superpowers/specs/2026-03-23-image-proxy-cache-design.md
Due: none

docs: add compose/env details to image proxy cache spec
  docs/superpowers/specs/2026-03-23-image-proxy-cache-design.md
Due: none

docs: add image proxy cache implementation plan
  docs/superpowers/plans/2026-03-23-image-proxy-cache.md
Due: none

feat: disk-backed image proxy cache with maintenance controls
  backend/config.py
  backend/main.py
  backend/routers/folder.py
  backend/routers/images.py
  backend/routers/maintenance.py
  backend/services/image_cache.py
  docker-compose.yml
  frontend/src/lib/__tests__/poster.test.ts
  frontend/src/lib/api/maintenance.ts
  frontend/src/lib/utils/poster.ts
  frontend/src/routes/maintenance/+page.svelte
  tests/routers/test_folder.py
  tests/routers/test_images.py
  tests/routers/test_maintenance.py
  tests/services/test_image_cache.py
  tests/services/test_system_cache.py
Due: backend, frontend

fix: remove dead code in system_cache test (SonarCloud S5727)
  tests/services/test_system_cache.py
Due: none

feat: disk-backed image proxy cache with maintenance controls
  backend/config.py
  backend/main.py
  backend/routers/folder.py
  backend/routers/images.py
  backend/routers/maintenance.py
  backend/services/image_cache.py
  docker-compose.yml
  frontend/src/lib/__tests__/poster.test.ts
  frontend/src/lib/api/maintenance.ts
  frontend/src/lib/utils/poster.ts
  frontend/src/routes/maintenance/+page.svelte
  tests/routers/test_folder.py
  tests/routers/test_images.py
  tests/routers/test_maintenance.py
  tests/services/test_image_cache.py
Due: backend, frontend

fix: address SonarCloud SSRF and path traversal findings (S5131, S2083)
  backend/routers/images.py
  backend/services/image_cache.py
Due: backend

chore(main): release 13.8.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: display Processing status for folder jobs, fix job detail page override
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/utils/format.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: use importing status key for folder jobs, keep processing for transcoder
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/utils/format.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: add source_type and source_path columns to Job ORM model
  backend/models/arm.py
Due: backend

feat: add TVDB Episodes button to dashboard review widget
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

feat: add EpisodeMatch component with match table and dropdown reassignment
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

feat: replace TVDB button with Episodes panel using EpisodeMatch component
  frontend/src/lib/__tests__/jobs-api-extra.test.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: prefill season/disc fields in folder import wizard from scan
  frontend/src/lib/components/FolderImportWizard.svelte
  frontend/src/lib/types/arm.ts
Due: frontend

test: add EpisodeMatch, FolderImportWizard, DiscReviewWidget Episodes button tests
  frontend/src/lib/components/DiscReviewWidget.test.ts
  frontend/src/lib/components/EpisodeMatch.test.ts
  frontend/src/lib/components/FolderImportWizard.test.ts
Due: frontend

fix: EpisodeMatch auto-resolves TVDB from IMDB, fallback dropdown from match results
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

fix: setup page redirects to dashboard when complete, type fixes for episode match fallback
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/lib/components/EpisodeMatch.test.ts
  frontend/src/lib/components/FolderImportWizard.test.ts
  frontend/src/routes/setup/+page.svelte
Due: frontend

fix: increase default episode match tolerance to 600s for TVDB runtime inaccuracies
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/lib/components/EpisodeMatch.test.ts
Due: frontend

fix: sync season/disc controls from job props via effect instead of init-time state
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

fix: setup page redirects before render via load function
  frontend/src/routes/setup/+page.svelte
  frontend/src/routes/setup/+page.ts
Due: frontend

fix: add season/disc fields to UI proxy FolderCreateRequest, fix test factory defaults
  backend/routers/folder.py
  tests/factories.py
Due: backend

fix: sort episode dropdown options by episode number
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

fix: move Episodes button next to Search in review widget button bar
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
