Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

chore(main): release 13.2.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: catch RemoteProtocolError in arm_client to prevent 500 on stale connections
  backend/services/arm_client.py
Due: backend

test: add arm_client setup function tests for codecov coverage
  tests/services/test_arm_client.py
Due: none

fix: re-throw SvelteKit redirect in layout guard catch block
  frontend/src/routes/+layout.ts
Due: frontend

feat: hide sidebar on setup wizard page
  frontend/src/routes/+layout.svelte
Due: frontend

feat: show transcoder and transcoder DB status in setup wizard
  frontend/src/lib/components/setup/WelcomeStep.svelte
Due: frontend

feat: add setup wizard with first-run redirect
  backend/main.py
  backend/routers/setup.py
  backend/services/arm_client.py
  docs/superpowers/specs/2026-03-19-setup-wizard-design.md
  frontend/src/lib/api/setup.ts
  frontend/src/lib/components/setup/DriveScanStep.svelte
  frontend/src/lib/components/setup/SettingsReviewStep.svelte
  frontend/src/lib/components/setup/SetupWizard.svelte
  frontend/src/lib/components/setup/StepIndicator.svelte
  frontend/src/lib/components/setup/WelcomeStep.svelte
  frontend/src/lib/types/setup.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/setup/+layout.svelte
  frontend/src/routes/setup/+layout.ts
  frontend/src/routes/setup/+page.svelte
Due: backend, frontend

test: add setup proxy endpoint tests for codecov coverage
  tests/routers/test_setup.py
Due: none

test: add setup wizard component tests for codecov coverage
  frontend/src/lib/components/setup/DriveScanStep.test.ts
  frontend/src/lib/components/setup/SettingsReviewStep.test.ts
  frontend/src/lib/components/setup/StepIndicator.test.ts
  frontend/src/lib/components/setup/WelcomeStep.test.ts
Due: frontend

refactor: reduce test duplication in setup component tests
  frontend/src/lib/components/setup/DriveScanStep.test.ts
  frontend/src/lib/components/setup/SettingsReviewStep.test.ts
Due: frontend

refactor: extract InfoCard and StatusIcon to reduce Svelte template duplication
  frontend/src/lib/components/setup/InfoCard.svelte
  frontend/src/lib/components/setup/StatusIcon.svelte
  frontend/src/lib/components/setup/WelcomeStep.svelte
Due: frontend

refactor: use semantic CSS classes in setup wizard components
  frontend/src/app.css
  frontend/src/lib/components/setup/WelcomeStep.svelte
Due: frontend

refactor: reuse _check_result from arm_actions to eliminate router duplication
  backend/routers/setup.py
Due: backend

refactor: consolidate WelcomeStep tests to eliminate SonarCloud duplication
  frontend/src/lib/components/setup/WelcomeStep.test.ts
Due: frontend

chore(main): release 13.3.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore: move some things around on readme
  README.md
Due: none

feat: add drive controls and system controls
  backend/main.py
  backend/models/schemas.py
  backend/routers/drives.py
  backend/routers/system.py
  backend/services/arm_client.py
  frontend/src/lib/api/drives.ts
  frontend/src/lib/api/system.ts
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/lib/components/JobStatsCard.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/settings/+page.svelte
  tests/routers/test_system.py
  tests/services/test_arm_client.py
Due: backend, frontend

chore(main): release 13.4.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: improve restart UX and add transcoder restart button
  backend/routers/system.py
  backend/services/transcoder_client.py
  docs/superpowers/specs/2026-03-20-service-restart-enhancements-design.md
  frontend/src/lib/api/system.ts
  frontend/src/routes/settings/+page.svelte
  tests/routers/test_system.py
  tests/services/test_transcoder_client_coverage.py
Due: backend, frontend

ci: allow GHCR_TOKEN fallback for package push
  .github/workflows/build-and-push.yml
Due: none

chore(main): release 13.5.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

ci: disable automatic GHCR builds on push
  .github/workflows/build-and-push.yml
Due: none
