Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

fix: show real-time ripped track count from PRGC progress messages
  backend/routers/jobs.py
  backend/services/progress.py
Due: backend

fix: filter track counts by minlength in active jobs and progress
  backend/services/arm_db.py
Due: backend

test: add missing tests for pause body params and minlength filtering
  frontend/src/lib/__tests__/jobs-api.test.ts
  tests/routers/test_arm_actions.py
  tests/services/test_arm_db_minlength.py
Due: frontend

fix: use full-width row layout for transcoder cards on home page
  frontend/src/routes/+page.svelte
Due: frontend

fix: hide 'unknown' video type badge on transcoder cards
  frontend/src/lib/components/TranscodeCard.svelte
Due: frontend

fix: link TranscodeCard details to ARM job page, hide when no arm_job_id
  frontend/src/lib/components/TranscodeCard.svelte
Due: frontend

fix: prevent scroll jump on transcoder page during polling
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

fix: append Z to transcoder UTC timestamps for correct browser parsing
  backend/services/transcoder_client.py
Due: backend

test: fix TranscodeCard test for conditional details link
  frontend/src/lib/components/TranscodeCard.test.ts
Due: frontend

fix: replace regex with string match to resolve SonarCloud hotspot
  frontend/src/lib/components/CountdownTimer.test.ts
Due: frontend

fix: filter track counts by minlength so short tracks aren't counted
  backend/services/arm_db.py
Due: backend

fix: show Skipped status and hide Ripped badge for below-minlength tracks
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

docs: add pause/timer fix spec and plan
  docs/superpowers/plans/2026-04-08-pause-timer-fix.md
  docs/superpowers/specs/2026-04-08-pause-timer-fix-design.md
Due: none

fix: simplify CountdownTimer to use paused prop as sole truth
  frontend/src/lib/components/CountdownTimer.svelte
  frontend/src/lib/components/CountdownTimer.test.ts
Due: frontend

fix: send explicit paused value instead of toggle on pause/resume
  backend/routers/arm_actions.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: backend, frontend

fix: wire manual_pause into DiscReviewWidget pause state
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend
