Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: remove programmatic scroll — just expand panel on deep link
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: scroll to panel after 600ms delay with instant behavior
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: remove tag triggers from build and push workflow
  .github/workflows/build-and-push.yml
Due: none

Update build-and-push.yml
  .github/workflows/build-and-push.yml
Due: none

docs: add MakeMKV key check implementation plan
  docs/superpowers/plans/2026-03-22-makemkv-key-check.md
  docs/superpowers/specs/2026-03-22-makemkv-key-check-design.md
Due: none

fix: update jobs page test mock to include fetchJobStats
  frontend/src/routes/jobs/__tests__/jobs-page.test.ts
Due: frontend

test: add coverage tests for maintenance, log delete, dashboard key check
  tests/routers/test_dashboard.py
  tests/routers/test_logs_delete.py
  tests/routers/test_maintenance.py
  tests/services/test_log_reader_delete.py
Due: none

feat: add GET /api/jobs/stats endpoint with filter support
  backend/routers/jobs.py
  backend/services/arm_db.py
  tests/routers/test_jobs_stats.py
Due: backend

feat: add MakeMKV key status to dashboard types, store, and API client
  frontend/src/lib/api/dashboard.ts
  frontend/src/lib/stores/dashboard.ts
  frontend/src/lib/types/arm.ts
Due: frontend

feat: add Check Key button to settings, update FindVUK label
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add maintenance page with orphan cleanup, notification, and transcoder sections
  frontend/src/routes/maintenance/+page.svelte
Due: frontend

test: add maintenance page tests
  frontend/src/routes/maintenance/__tests__/maintenance-page.test.ts
Due: frontend

feat: add notification dismiss-all and purge functions to arm_db
  backend/services/arm_db.py
Due: backend

docs: add tech debt note for direct DB access in jobs spec
  docs/superpowers/specs/2026-03-22-jobs-page-redesign.md
Due: none

fix: add MAKEMKV_PERMA_KEY to HIDDEN_KEYS, make key dot red when unchecked
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add maintenance and arch-debt proxy functions to arm_client
  backend/services/arm_client.py
Due: backend

feat: add Maintenance nav item to sidebar
  frontend/src/routes/+layout.svelte
Due: frontend

feat: add sorting, disc type filter, and time range to jobs endpoint
  backend/routers/jobs.py
  backend/services/arm_db.py
  tests/routers/test_jobs.py
  tests/routers/test_jobs_filtering.py
Due: backend

fix: purge now cleans raw_path, transcode_path, and completed path
  backend/routers/jobs.py
Due: backend

fix: use instant scroll and longer delay for settings panel navigation
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add checkbox to JobRow, purge action to JobActions
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/JobRow.svelte
Due: frontend

feat: add bulk delete and purge endpoints for jobs
  tests/routers/test_jobs_bulk.py
Due: none

feat: add maintenance API client and tests
  frontend/src/lib/__tests__/maintenance-api.test.ts
  frontend/src/lib/api/maintenance.ts
Due: frontend

feat: add MakeMKV key check and ripping-enabled proxy to arm_client
  backend/services/arm_client.py
Due: backend

docs: add jobs page redesign spec
  docs/superpowers/specs/2026-03-22-jobs-page-redesign.md
Due: none

feat: add maintenance router with ARM proxy, notification, and transcoder cleanup
  backend/main.py
  backend/routers/maintenance.py
Due: backend

feat: redesign jobs page with stats bar, pill filters, sortable headers, gear menu
  frontend/src/routes/jobs/+page.svelte
Due: frontend

docs: add MakeMKV key validity check design spec
  docs/superpowers/specs/2026-03-22-makemkv-key-check-design.md
Due: none

docs: add maintenance page design spec
  docs/superpowers/specs/2026-03-22-maintenance-page-design.md
Due: none

docs: add maintenance page implementation plan
  docs/superpowers/plans/2026-03-22-maintenance-page.md
Due: none

fix: proxy transcode-overrides and track-fields through ARM instead of direct DB
  backend/routers/jobs.py
Due: backend

feat: add MakeMKV key status to dashboard and key check proxy endpoint
  backend/models/schemas.py
  backend/routers/dashboard.py
Due: backend

fix: only scroll to settings panel on in-page nav, not initial load
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add log file download and delete functionality
  backend/routers/logs.py
  backend/services/log_reader.py
  frontend/src/lib/api/logs.ts
  frontend/src/routes/logs/+page.svelte
  frontend/src/routes/logs/__tests__/logs-page.test.ts
Due: backend, frontend

fix: prevent scroll lock when navigating to settings panel via hash link
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: use MutationObserver + requestIdleCallback for reliable panel scroll
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: add missing DashboardData fields, fix test mocks for ARM proxy
  frontend/src/routes/+page.svelte
  tests/routers/test_jobs_extended.py
Due: frontend

feat: add MakeMKV key status dot to header bar
  frontend/src/routes/+layout.svelte
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
