Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

fix: inline resolve() path containment checks for SonarCloud taint analysis
  backend/services/themes.py
Due: backend

fix: export downloads both JSON and CSS as separate files
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: load theme CSS from sidecar files, save as split files
  backend/services/themes.py
Due: backend

docs: update THEME_TEMPLATE.md for split CSS format
  THEME_TEMPLATE.md
Due: none

feat: improve metadata error messaging and test-with-unsaved-key
  backend/routers/jobs.py
  backend/routers/settings.py
  backend/services/arm_client.py
  frontend/src/lib/api/settings.ts
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TrackTitleSearch.svelte
Due: backend, frontend

fix: update tests for metadata error passthrough and params changes
  tests/routers/test_metadata.py
  tests/routers/test_settings_coverage.py
  tests/services/test_arm_client.py
Due: none

refactor: migrate hardcoded blue/indigo colors to theme tokens
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/ProgressBar.svelte
  frontend/src/lib/components/TranscodeCard.svelte
Due: frontend

feat: multipart theme upload and CSS download in API client
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/themes.ts
Due: frontend

feat: extractable theme system with runtime CSS injection
  backend/config.py
  backend/main.py
  backend/routers/themes.py
  backend/services/themes.py
  backend/themes/builtin/blockbuster.json
  backend/themes/builtin/blue.json
  backend/themes/builtin/cinema.json
  backend/themes/builtin/craft.json
  backend/themes/builtin/forest.json
  backend/themes/builtin/gaming.json
  backend/themes/builtin/glass.json
  backend/themes/builtin/hollywood-video-v2.json
  backend/themes/builtin/lcars.json
  backend/themes/builtin/ocean.json
  backend/themes/builtin/rose.json
  backend/themes/builtin/royale.json
  backend/themes/builtin/sunset.json
  backend/themes/builtin/tactical.json
  backend/themes/builtin/terminal.json
  backend/themes/builtin/violet.json
  frontend/src/app.css
  frontend/src/lib/api/themes.ts
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

fix: use resolve()-based path containment check for theme file writes
  backend/services/themes.py
  tests/services/test_themes.py
Due: backend

refactor: rename LcarsFrame to SectionFrame with generic class names
  frontend/src/app.css
  frontend/src/lib/components/LcarsFrame.svelte
  frontend/src/lib/components/SectionFrame.svelte
  frontend/src/routes/+page.svelte
Due: frontend

feat: multipart theme upload, separate CSS download endpoint
  backend/routers/themes.py
  requirements.txt
Due: backend

feat: add theme name field to upload form
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: use yellow status color for copying/ejecting statuses
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend

feat: two-field theme upload UI (JSON + CSS)
  frontend/src/routes/settings/+page.svelte
Due: frontend

test: add tests for theme service and router
  tests/routers/test_themes.py
  tests/services/test_themes.py
Due: none

fix: address SonarCloud issues in theme code
  backend/routers/themes.py
  backend/services/themes.py
  backend/themes/builtin/lcars.css
  frontend/src/lib/api/settings.ts
  frontend/src/lib/stores/colorScheme.ts
  tests/services/test_themes.py
Due: backend, frontend

test: add coverage for error detail passthrough and metadata key params
  tests/routers/test_metadata.py
  tests/services/test_arm_client.py
Due: none

refactor: extract theme CSS into sidecar .css files
  backend/themes/builtin/blockbuster.css
  backend/themes/builtin/blockbuster.json
  backend/themes/builtin/blue.json
  backend/themes/builtin/cinema.css
  backend/themes/builtin/cinema.json
  backend/themes/builtin/craft.css
  backend/themes/builtin/craft.json
  backend/themes/builtin/forest.json
  backend/themes/builtin/gaming.css
  backend/themes/builtin/gaming.json
  backend/themes/builtin/glass.css
  backend/themes/builtin/glass.json
  backend/themes/builtin/hollywood-video-v2.css
  backend/themes/builtin/hollywood-video-v2.json
  backend/themes/builtin/lcars.css
  backend/themes/builtin/lcars.json
  backend/themes/builtin/ocean.json
  backend/themes/builtin/rose.json
  backend/themes/builtin/royale.css
  backend/themes/builtin/royale.json
  backend/themes/builtin/sunset.json
  backend/themes/builtin/tactical.css
  backend/themes/builtin/tactical.json
  backend/themes/builtin/terminal.css
  backend/themes/builtin/terminal.json
  backend/themes/builtin/violet.json
Due: backend

chore(main): release 13.1.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: enhance log management UI with improved delete functionality and state handling
  frontend/package-lock.json
  frontend/src/routes/logs/+page.svelte
Due: frontend

feat: simplify color coding in SidebarStats and enhance delete confirmation UI in logs
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/routes/logs/+page.svelte
Due: frontend

feat: update transcoder button styling with new color scheme
  frontend/src/lib/components/SidebarStats.svelte
Due: frontend

refactor: remove redundant comment in onMount function
  frontend/src/routes/logs/+page.svelte
Due: frontend

refactor: remove unnecessary closing braces in logs page script
  frontend/src/routes/logs/+page.svelte
Due: frontend

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

chore: add vitest setup file for jest-dom matchers
  frontend/src/lib/test-setup.ts
  frontend/vitest.config.ts
Due: frontend

chore: add component test utilities module
  frontend/src/lib/test-utils.ts
Due: frontend

feat: add semantic CSS classes for status badges and confirm dialog
  frontend/src/app.css
Due: frontend

refactor: use semantic CSS classes in statusColor()
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend

refactor: use semantic CSS classes in ConfirmDialog
  frontend/src/lib/components/ConfirmDialog.svelte
Due: frontend

test: add StatusBadge component tests
  frontend/src/lib/components/StatusBadge.test.ts
  frontend/src/lib/test-setup.ts
  frontend/vitest.config.ts
Due: frontend

test: add ConfirmDialog component tests
  frontend/src/lib/components/ConfirmDialog.test.ts
  frontend/src/lib/components/StatusBadge.test.ts
Due: frontend

test: add component tests for TimeAgo, ProgressBar, DiscTypeIcon, FileIcon, SectionFrame
  frontend/src/lib/components/DiscTypeIcon.test.ts
  frontend/src/lib/components/FileIcon.test.ts
  frontend/src/lib/components/ProgressBar.test.ts
  frontend/src/lib/components/SectionFrame.test.ts
  frontend/src/lib/components/TimeAgo.test.ts
Due: frontend

test: add component tests for VideoTypeIcon, CountdownTimer, BreadcrumbNav, JobCard, JobRow, SidebarStats, JobActions
  frontend/src/lib/components/BreadcrumbNav.test.ts
  frontend/src/lib/components/CountdownTimer.test.ts
  frontend/src/lib/components/JobActions.test.ts
  frontend/src/lib/components/JobCard.test.ts
  frontend/src/lib/components/JobRow.test.ts
  frontend/src/lib/components/SidebarStats.test.ts
  frontend/src/lib/components/VideoTypeIcon.test.ts
  frontend/src/lib/components/__fixtures__/job.ts
Due: frontend

test: add component tests for LogViewer, InlineLogFeed, FileRow
  frontend/src/lib/components/FileRow.test.ts
  frontend/src/lib/components/InlineLogFeed.test.ts
  frontend/src/lib/components/LogViewer.test.ts
Due: frontend

test: add component tests for RipSettings, DriveCard, TranscodeCard
  frontend/src/lib/components/DriveCard.test.ts
  frontend/src/lib/components/RipSettings.test.ts
  frontend/src/lib/components/TranscodeCard.test.ts
Due: frontend
