Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

fix: reduce dashboard loading blink and layout shift
  frontend/src/routes/+page.svelte
Due: frontend

Revert "fix: use PosterImage on job detail page, add style prop"
  frontend/src/lib/components/PosterImage.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: file browser root tab highlights most specific matching root
  frontend/src/routes/files/+page.svelte
Due: frontend

Revert "fix: unify poster placeholder across all components"
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/TranscodeCard.svelte
Due: frontend

fix: move pageReady declaration after jobsData to fix svelte-check
  frontend/src/routes/+page.svelte
Due: frontend

feat: show read-only mount banner on files page
  frontend/src/routes/files/+page.svelte
Due: frontend

feat: disable file actions on read-only mounts
  frontend/src/lib/components/FileRow.svelte
  frontend/src/lib/types/files.ts
  frontend/src/routes/files/+page.svelte
Due: frontend

fix: unify poster placeholder across all components
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/TranscodeCard.svelte
Due: frontend

fix: use PosterImage on job detail page, add style prop
  frontend/src/lib/components/PosterImage.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: use disc icon for missing poster art across all views
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/PosterImage.svelte
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: topnav ripping count excludes jobs in transcoding status
  frontend/src/routes/+layout.svelte
  frontend/src/routes/__tests__/layout.test.ts
Due: frontend

fix: replace filter pills with dropdown selects on dashboard
  frontend/src/lib/components/JobFilterBar.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

chore(main): release 15.2.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: redirect to home after job delete instead of removed /jobs page
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: skip minlength filter for music disc track counts
  backend/services/arm_db.py
Due: backend

fix: align music progress tracks_ripped with log-parsed tagged count
  backend/services/progress.py
Due: backend

fix: use encoding count for music progress — tagging overcounts by 1
  backend/services/progress.py
  tests/services/test_progress.py
Due: backend

test: add 404 redirect test for job detail page
  frontend/src/routes/jobs/__tests__/job-detail-page.test.ts
Due: frontend

test: add music disc minlength bypass test for codecov
  tests/services/test_arm_db_minlength.py
Due: none

fix: reduce test code duplication below 3% for SonarCloud
  frontend/src/lib/components/DiscReviewWidget.test.ts
  frontend/src/lib/components/EpisodeMatch.test.ts
  frontend/src/lib/components/__fixtures__/files.ts
  frontend/src/lib/components/__fixtures__/job.ts
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
  frontend/src/lib/components/__tests__/DiscReviewWidget.test.ts
  frontend/src/lib/components/__tests__/FolderBrowser.test.ts
  frontend/src/routes/files/__tests__/files-page.test.ts
Due: frontend

feat: add CD_RIP_TIMEOUT to Music > CD Ripping settings panel
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: centralize track counts from progress poll, not stale DB query
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/routes/+page.svelte
Due: frontend

fix: null guard .trim() on drive settings to prevent TypeError on empty values
  frontend/src/lib/components/DriveCard.svelte
Due: frontend

fix: filter MusicSearch tracks by disc_number for multi-disc releases
  backend/models/schemas.py
  frontend/src/lib/components/MusicSearch.svelte
  frontend/src/lib/types/arm.ts
Due: backend, frontend

fix: add disc_count to MusicDetail fallback objects
  frontend/src/lib/components/MusicSearch.svelte
Due: frontend

fix: filter track comparison view by disc_number for multi-disc releases
  frontend/src/lib/components/MusicSearch.svelte
Due: frontend

chore(main): release 15.3.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none
