Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

fix: use vivid primary bg for review status bar on dark themes
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

fix: send plain media title in webhook payload
  backend/routers/transcoder.py
  backend/services/arm_db.py
Due: backend

chore(main): release 11.1.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: add connection status visibility for ARM and transcoder services
  backend/models/schemas.py
  backend/routers/dashboard.py
  backend/routers/settings.py
  frontend/src/lib/api/settings.ts
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/stores/dashboard.ts
  frontend/src/lib/types/arm.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

feat: add MusicBrainz search for audio CDs
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/services/music_metadata.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/JobRow.svelte
  frontend/src/lib/components/MusicSearch.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/VideoTypeIcon.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/lib/utils/job-type.ts
  frontend/src/routes/jobs/+page.svelte
Due: backend, frontend

fix: harden MusicBrainz search and cover art handling
  backend/services/music_metadata.py
  backend/tests/__init__.py
  backend/tests/test_music_metadata.py
  frontend/src/lib/components/MusicSearch.svelte
Due: backend, frontend

feat: add structured fields, track comparison, and card flip animation
  backend/models/schemas.py
  backend/routers/arm_actions.py
  backend/routers/jobs.py
  backend/routers/settings.py
  backend/services/arm_client.py
  backend/services/music_metadata.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/MusicSearch.svelte
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

fix: remove redundant type comparison in MusicSearch flip card
  frontend/src/lib/components/MusicSearch.svelte
Due: frontend

chore(main): release 11.2.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: update README tech stack and features, mark ROADMAP items done
  README.md
  ROADMAP.md
Due: none

fix: TMDb metadata provider fallback, error handling, and logging
  backend/services/metadata.py
  tests/services/test_metadata.py
Due: backend

fix: catch RuntimeError and OSError in httpx client exception handlers
  backend/services/arm_client.py
  backend/services/transcoder_client.py
Due: backend

fix: serve root-level static files and prevent path traversal in SPA catch-all
  backend/main.py
Due: backend

fix: prevent FOUC by hiding body until CSS loads
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/routes/+layout.svelte
Due: frontend

feat: switch favicon to white ARM logo
  frontend/static/apple-touch-icon.png
  frontend/static/favicon.ico
  frontend/static/favicon.png
Due: none

fix: rename "Accepting Discs" toggle label to "Auto-Start"
  frontend/src/routes/+page.svelte
Due: frontend

feat: progress bar tracks overall disc, per-job pause, year parsing fix, review pane improvements
  backend/routers/arm_actions.py
  backend/routers/jobs.py
  backend/services/arm_client.py
  backend/services/arm_db.py
  backend/services/metadata.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/CountdownTimer.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/routes/+page.svelte
  tests/routers/test_arm_actions.py
  tests/routers/test_jobs.py
  tests/services/test_arm_client.py
  tests/services/test_metadata.py
Due: backend, frontend

feat: structured logging with StructuredLogViewer for ARM and transcoder
  backend/models/schemas.py
  backend/routers/logs.py
  backend/routers/transcoder.py
  backend/services/log_reader.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/logs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/InlineLogFeed.svelte
  frontend/src/lib/components/StructuredLogViewer.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/logs/[filename]/+page.svelte
  frontend/src/routes/logs/transcoder/[filename]/+page.svelte
  tests/routers/test_logs.py
  tests/services/test_log_reader.py
Due: backend, frontend

feat: show log_level_libraries on transcoder config page
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: sortable column headers on log pages
  frontend/src/lib/components/StructuredLogViewer.svelte
  frontend/src/routes/logs/+page.svelte
Due: frontend

fix: prevent layout jump in review widget InlineLogFeed
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/InlineLogFeed.svelte
Due: frontend

chore(main): release 11.3.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: per-job transcoder log previews and plain-text log parsing
  backend/services/log_reader.py
  frontend/src/lib/components/InlineLogFeed.svelte
  frontend/src/lib/types/transcoder.ts
  frontend/src/routes/logs/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
Due: backend, frontend

fix: update plain text log parser test to match regex parsing
  tests/services/test_log_reader.py
Due: none

chore(main): release 11.4.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: increase transcoder client timeout to 15s read / 5s connect
  backend/services/transcoder_client.py
Due: backend

chore(main): release 11.4.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: enrich transcoder job card with poster, type badge, and metadata
  backend/services/arm_db.py
  frontend/src/lib/types/transcoder.ts
  frontend/src/routes/transcoder/+page.svelte
Due: backend, frontend

chore(main): release 11.5.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: clamp rip progress to 100% when all tracks are ripped
  frontend/src/routes/+page.svelte
Due: frontend

chore(main): release 11.5.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: prevent false 100% progress during MakeMKV scan phase
  backend/services/progress.py
  frontend/src/routes/+page.svelte
Due: backend, frontend

fix: read full progress file so PRGT phase messages are not missed
  backend/services/progress.py
Due: backend
