Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(iso): BFF proxy router for /api/jobs/iso endpoints
  backend/main.py
  backend/models/iso.py
  backend/routers/iso.py
  backend/services/arm_client.py
  frontend/src/lib/api/import-jobs.ts
  frontend/src/lib/components/ImportWizard.svelte
  frontend/src/lib/types/api.gen.ts
  tests/routers/test_iso.py
Due: backend, frontend

refactor(import): rename FolderImportWizard -> ImportWizard, FolderBrowser -> IngressBrowser
  frontend/src/lib/__tests__/import-api.test.ts
  frontend/src/lib/api/import-jobs.ts
  frontend/src/lib/components/ImportWizard.svelte
  frontend/src/lib/components/ImportWizard.test.ts
  frontend/src/lib/components/IngressBrowser.svelte
  frontend/src/lib/components/__tests__/ImportWizard.test.ts
  frontend/src/lib/components/__tests__/IngressBrowser.test.ts
  frontend/src/lib/components/__tests__/IngressBrowserMock.svelte
  frontend/src/lib/types/api.gen.ts
  frontend/src/routes/+layout.svelte
Due: frontend

feat(iso): unified Import wizard with ISO file support
  frontend/src/lib/api/import-jobs.ts
  frontend/src/lib/components/ImportWizard.svelte
  frontend/src/lib/components/IngressBrowser.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobCard.test.ts
  frontend/src/lib/components/__tests__/ImportWizard.test.ts
  frontend/src/lib/components/__tests__/IngressBrowser.test.ts
  frontend/src/lib/components/__tests__/IngressBrowserMock.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

chore(types): regenerate api.gen.ts
  frontend/src/lib/types/api.gen.ts
Due: frontend

test(arm_client): cover scan_iso + create_iso_job helpers
  tests/services/test_arm_client_extended.py
Due: none

fix(dashboard): show transcode % on All Jobs card
  frontend/src/routes/+page.svelte
Due: frontend

fix(quality): clear SonarCloud gate failures on main
  sonar-project.properties
  tests/services/test_transcoder_client_shape.py
Due: none

feat(ui): split fallback into Video and Disc pills
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobRow.svelte
  frontend/src/lib/utils/job-type.ts
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

chore(main): release 18.0.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

ci(prerelease): allow manual workflow_dispatch trigger
  .github/workflows/publish-prerelease.yml
Due: none

feat(settings): show arm-ui webhook secret status alongside transcoder
  backend/models/settings.py
  backend/routers/settings.py
  frontend/src/lib/types/api.gen.ts
  frontend/src/routes/settings/+page.svelte
  tests/routers/test_settings.py
Due: backend, frontend

feat(presets): HandBrake preset picker fed from transcoder endpoint
  backend/routers/transcoder.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/transcoder.ts
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/types/api.gen.ts
  tests/routers/test_transcoder.py
Due: backend, frontend

refactor(settings): unify per-provider key-test buttons via /metadata/test-key
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix(arm-client): raise test-metadata-key timeout to 30s for makemkv provider
  backend/services/arm_client.py
  tests/services/test_arm_client.py
Due: backend

test(arm-client): use pytest.approx for timeout float comparison
  tests/services/test_arm_client.py
Due: none

fix(jobs): hide Episodes tab on movie jobs (gate is series AND imdb_id)
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/jobs/__tests__/job-detail-page.test.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
