Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: use primary colors for toggle, fix LCARS tab styling, filter stale drives
  backend/services/arm_db.py
  frontend/src/app.css
  frontend/src/routes/+layout.svelte
  frontend/src/routes/logs/+page.svelte
Due: backend, frontend

feat: UI polish — status labels, waiting_transcode, component fixes
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/components/CountdownTimer.svelte
  frontend/src/lib/components/CrcLookup.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/components/StatusBadge.svelte
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-type.ts
Due: frontend

feat: add track update API, multi-title backend proxy, and supporting changes
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/services/arm_db.py
  docker-compose.yml
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/+page.svelte
  tests/factories.py
Due: backend, frontend

feat: music track display, disc info, collapsible debug, transcoder config
  backend/services/arm_db.py
  docker-compose.yml
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-type.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

feat: add Force Scan button on drive cards
  backend/routers/drives.py
  backend/services/arm_client.py
  frontend/src/lib/api/drives.ts
  frontend/src/lib/components/DriveCard.svelte
Due: backend, frontend

feat: layout nav, dashboard idle state, LCARS section headers
  frontend/src/app.css
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

feat: polish TVDB match panel and job detail UX
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TvdbMatch.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

test: add coverage for files, settings, arm_client, arm_db, transcoder_client
  tests/routers/test_files.py
  tests/routers/test_settings_coverage.py
  tests/services/test_arm_client_coverage.py
  tests/services/test_arm_db_coverage.py
  tests/services/test_transcoder_client_coverage.py
  tests/test_dependencies.py
Due: none

feat: TVDB multi-season matching panel and episode columns
  backend/models/arm.py
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TvdbMatch.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

refactor: replace multi-title button with dropdown and badge
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: add per-job transcoder log view on job detail page
  backend/routers/transcoder.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/logs.ts
  frontend/src/lib/components/InlineLogFeed.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

feat: show disc number on dashboard cards and table view
  backend/models/arm.py
  backend/models/schemas.py
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobRow.svelte
Due: backend, frontend

fix: zero-track rip guard, error display, progress fallback to no_of_titles
  backend/routers/jobs.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/+page.svelte
  tests/routers/test_jobs.py
  tests/services/test_progress.py
Due: backend, frontend

chore!: set pre-release version for 12.0.0
  .release-please-manifest.json
  VERSION
Due: none

fix: restore VERSION to 12.0.0 (already released)
  .release-please-manifest.json
  VERSION
Due: none

chore(main): release 13.0.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore: add screenshots and update README
  README.md
  screenshots/01-dashboard.png
  screenshots/02-dashboard-full.png
  screenshots/03-job-detail-tv-series.png
  screenshots/04-job-detail-movie.png
  screenshots/05-settings-ripping.png
  screenshots/06-settings-drives.png
  screenshots/07-settings-system.png
  screenshots/08-notifications.png
  screenshots/09-logs.png
  screenshots/10-log-viewer.png
  screenshots/11-dashboard-table.png
  screenshots/12-transcoder-sidebar.png
  screenshots/13-files.png
  screenshots/14-settings-transcoding.png
  screenshots/15-job-detail-tracks.png
  screenshots/16-job-identify-panel.png
  screenshots/17-settings-notifications.png
  screenshots/18-settings-appearance.png
  screenshots/19-theme-terminal.png
  screenshots/20-theme-lcars.png
Due: none

fix: add info tooltip to UHD Capable checkbox
  frontend/src/lib/components/DriveCard.svelte
Due: frontend

chore(main): release 13.0.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: add copying/ejecting statuses, fix transcoder status label
  backend/services/arm_db.py
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-type.ts
Due: backend, frontend

feat: extractable theme system with runtime CSS injection
  backend/config.py
  backend/main.py
  backend/routers/themes.py
  backend/services/themes.py
  backend/themes/builtin/blockbuster.json
  backend/themes/builtin/blue.json
  backend/themes/builtin/cinema.json
  backend/themes/builtin/craft.json
  backend/themes/builtin/forest.json
  backend/themes/builtin/gaming.json
  backend/themes/builtin/glass.json
  backend/themes/builtin/hollywood-video-v2.json
  backend/themes/builtin/lcars.json
  backend/themes/builtin/ocean.json
  backend/themes/builtin/rose.json
  backend/themes/builtin/royale.json
  backend/themes/builtin/sunset.json
  backend/themes/builtin/tactical.json
  backend/themes/builtin/terminal.json
  backend/themes/builtin/violet.json
  frontend/src/app.css
  frontend/src/lib/api/themes.ts
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

fix: use yellow status color for copying/ejecting statuses
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend

refactor: extract theme CSS into sidecar .css files
  backend/themes/builtin/blockbuster.css
  backend/themes/builtin/blockbuster.json
  backend/themes/builtin/blue.json
  backend/themes/builtin/cinema.css
  backend/themes/builtin/cinema.json
  backend/themes/builtin/craft.css
  backend/themes/builtin/craft.json
  backend/themes/builtin/forest.json
  backend/themes/builtin/gaming.css
  backend/themes/builtin/gaming.json
  backend/themes/builtin/glass.css
  backend/themes/builtin/glass.json
  backend/themes/builtin/hollywood-video-v2.css
  backend/themes/builtin/hollywood-video-v2.json
  backend/themes/builtin/lcars.css
  backend/themes/builtin/lcars.json
  backend/themes/builtin/ocean.json
  backend/themes/builtin/rose.json
  backend/themes/builtin/royale.css
  backend/themes/builtin/royale.json
  backend/themes/builtin/sunset.json
  backend/themes/builtin/tactical.css
  backend/themes/builtin/tactical.json
  backend/themes/builtin/terminal.css
  backend/themes/builtin/terminal.json
  backend/themes/builtin/violet.json
Due: backend

feat: load theme CSS from sidecar files, save as split files
  backend/services/themes.py
Due: backend

feat: multipart theme upload, separate CSS download endpoint
  backend/routers/themes.py
  requirements.txt
Due: backend

feat: multipart theme upload and CSS download in API client
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/themes.ts
Due: frontend

feat: two-field theme upload UI (JSON + CSS)
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: export downloads both JSON and CSS as separate files
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add theme name field to upload form
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: improve metadata error messaging and test-with-unsaved-key
  backend/routers/jobs.py
  backend/routers/settings.py
  backend/services/arm_client.py
  frontend/src/lib/api/settings.ts
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TrackTitleSearch.svelte
Due: backend, frontend

refactor: migrate hardcoded blue/indigo colors to theme tokens
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/ProgressBar.svelte
  frontend/src/lib/components/TranscodeCard.svelte
Due: frontend

refactor: rename LcarsFrame to SectionFrame with generic class names
  frontend/src/app.css
  frontend/src/lib/components/LcarsFrame.svelte
  frontend/src/lib/components/SectionFrame.svelte
  frontend/src/routes/+page.svelte
Due: frontend

docs: update THEME_TEMPLATE.md for split CSS format
  THEME_TEMPLATE.md
Due: none

fix: update tests for metadata error passthrough and params changes
  tests/routers/test_metadata.py
  tests/routers/test_settings_coverage.py
  tests/services/test_arm_client.py
Due: none

test: add tests for theme service and router
  tests/routers/test_themes.py
  tests/services/test_themes.py
Due: none

fix: address SonarCloud issues in theme code
  backend/routers/themes.py
  backend/services/themes.py
  backend/themes/builtin/lcars.css
  frontend/src/lib/api/settings.ts
  frontend/src/lib/stores/colorScheme.ts
  tests/services/test_themes.py
Due: backend, frontend

test: add coverage for error detail passthrough and metadata key params
  tests/routers/test_metadata.py
  tests/services/test_arm_client.py
Due: none

fix: use resolve()-based path containment check for theme file writes
  backend/services/themes.py
  tests/services/test_themes.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
