Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: add quick actions gear menu to header, remove dashboard stats card
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

feat: add Folder Import badge and source path to job cards
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobRow.svelte
Due: frontend

fix: strengthen poster proxy SSRF validation for SonarCloud
  backend/routers/folder.py
Due: backend

feat: make diagnostics section collapsible with issues-only view
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add PRESCAN_TIMEOUT and INGRESS_PATH to settings UI groups
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add filter input to folder browser for large directories
  frontend/src/lib/components/FolderBrowser.svelte
Due: frontend

test: update DriveCard tests for action bar redesign
  frontend/src/lib/components/DriveCard.test.ts
Due: frontend

fix: show helpful link to settings when ingress path is not configured
  frontend/src/lib/components/FolderBrowser.svelte
Due: frontend

feat: add FolderImportWizard three-step modal component
  frontend/src/lib/components/FolderImportWizard.svelte
Due: frontend

fix: dismiss import wizard when clicking settings link
  frontend/src/lib/components/FolderBrowser.svelte
Due: frontend

test: add backend coverage for folder proxy, poster proxy, and cache
  tests/routers/test_folder.py
Due: none

fix: use https in poster test to satisfy SonarCloud security scan
  frontend/src/lib/__tests__/poster.test.ts
Due: frontend

fix: use svelte store for import wizard instead of page reload
  frontend/src/lib/stores/importWizard.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

fix: show friendly message and retry button when ARM is starting up
  frontend/src/lib/components/FolderBrowser.svelte
Due: frontend

feat: add folder import API client and types
  frontend/src/lib/api/folder.ts
  frontend/src/lib/types/arm.ts
Due: frontend

fix: proxy poster images through backend to avoid browser ORB blocking
  backend/routers/folder.py
  frontend/src/lib/components/FolderImportWizard.svelte
Due: backend, frontend

feat: add FolderBrowser component for ingress directory picking
  frontend/src/lib/components/FolderBrowser.svelte
Due: frontend

feat: redesign DriveCard with consolidated action bar and enriched info
  frontend/src/lib/components/DriveCard.svelte
Due: frontend

fix: use absolute ingress path for directory listing in FolderBrowser
  frontend/src/lib/components/FolderBrowser.svelte
Due: frontend

feat: add transcoder restart button to settings service control
  backend/services/transcoder_client.py
  frontend/src/lib/api/system.ts
Due: backend, frontend

feat: auto-detect disc folders, prevent drilling into BDMV/VIDEO_TS
  frontend/src/lib/components/FolderBrowser.svelte
Due: frontend

feat: add Import Folder button to dashboard with wizard integration
  frontend/src/routes/+page.svelte
Due: frontend

feat: show 'Importing' status and hide track counts for folder imports
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/utils/format.ts
Due: frontend

feat: add server-side LRU cache for proxied poster images
  backend/routers/folder.py
Due: backend

test: add frontend coverage for posterSrc utility and folder API functions
  frontend/src/lib/__tests__/folder-api.test.ts
  frontend/src/lib/__tests__/poster.test.ts
Due: frontend

feat: add folder import proxy routes in UI backend
  backend/main.py
  backend/routers/folder.py
  backend/services/arm_client.py
Due: backend

feat: add source_type and source_path to job schema for folder import display
  backend/models/schemas.py
Due: backend

fix: move import wizard to layout so it works from any page without navigation
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

fix: proxy all poster images site-wide to prevent ORB blocking
  frontend/src/lib/components/CrcLookup.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/FolderImportWizard.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/MusicSearch.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TrackTitleSearch.svelte
  frontend/src/lib/utils/poster.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

fix: catch httpx.ReadError in ARM client to prevent dashboard 500 errors
  backend/services/arm_client.py
Due: backend

test: add settings page test for collapsible diagnostics
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix: add friendly labels for INGRESS_PATH and PRESCAN_TIMEOUT in settings
  frontend/src/routes/settings/+page.svelte
Due: frontend

chore(main): release 13.6.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: add maintenance page design spec
  docs/superpowers/specs/2026-03-22-maintenance-page-design.md
Due: none

docs: add maintenance page implementation plan
  docs/superpowers/plans/2026-03-22-maintenance-page.md
Due: none

feat: add maintenance and arch-debt proxy functions to arm_client
  backend/services/arm_client.py
Due: backend

feat: add notification dismiss-all and purge functions to arm_db
  backend/services/arm_db.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
