Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

test: add RipSettings coverage for naming override toggle and variable badges
  frontend/src/lib/components/RipSettings.test.ts
Due: frontend

feat: per-job naming overrides UI with editable patterns and custom filenames
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/EpisodeMatch.test.ts
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/components/TrackTitleSearch.test.ts
  frontend/src/lib/components/__fixtures__/job.ts
  frontend/src/lib/types/arm.ts
Due: frontend

test: add arm_client coverage for naming override functions
  tests/services/test_arm_client_extended.py
Due: none

feat: add naming proxy endpoints for per-job overrides
  backend/routers/jobs.py
  backend/services/arm_client.py
  tests/routers/test_jobs.py
Due: backend

test: add coverage for naming override API functions
  frontend/src/lib/__tests__/jobs-api-extra.test.ts
Due: frontend

chore(main): release 13.9.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore: bump version to 14.0.0 (breaking: new proxy endpoints + type changes)
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: episode column, progress bar, em dashes, and episode restore
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

chore(main): release 14.0.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: hide rip checkbox for tracks below MINLENGTH threshold
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

feat: apply minlength skip indicator to job detail page
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

chore(main): release 14.1.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: theme flash, panel accent colors, maintenance text sizes, radius tokens, and collapsible file paths
  backend/themes/builtin/blockbuster.json
  backend/themes/builtin/blue.json
  backend/themes/builtin/cinema.json
  backend/themes/builtin/craft.json
  backend/themes/builtin/forest.json
  backend/themes/builtin/gaming.json
  backend/themes/builtin/glass.json
  backend/themes/builtin/hollywood-video-v2.json
  backend/themes/builtin/lcars.json
  backend/themes/builtin/ocean.json
  backend/themes/builtin/rose.json
  backend/themes/builtin/royale.json
  backend/themes/builtin/sunset.json
  backend/themes/builtin/tactical.json
  backend/themes/builtin/terminal.json
  backend/themes/builtin/violet.json
  frontend/src/app.css
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/files/+page.svelte
  frontend/src/routes/maintenance/+page.svelte
Due: backend, frontend

refactor: dissolve maintenance page into contextual locations
  frontend/src/app.css
  frontend/src/routes/+layout.svelte
  frontend/src/routes/files/+page.svelte
  frontend/src/routes/logs/+page.svelte
  frontend/src/routes/maintenance/+page.svelte
  frontend/src/routes/maintenance/__tests__/maintenance-page.test.ts
  frontend/src/routes/notifications/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

test: add image cache API tests and radius token validation
  frontend/src/lib/__tests__/colorScheme.test.ts
  frontend/src/lib/__tests__/maintenance-api.test.ts
Due: frontend

fix: use non-public path in test mock data for SonarCloud
  frontend/src/lib/__tests__/maintenance-api.test.ts
Due: frontend

test: add coverage for relocated maintenance features
  frontend/src/routes/files/__tests__/files-page.test.ts
  frontend/src/routes/logs/__tests__/logs-page.test.ts
  frontend/src/routes/notifications/__tests__/notifications-page.test.ts
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix: add missing cleared property to notification test mock data
  frontend/src/routes/notifications/__tests__/notifications-page.test.ts
Due: frontend

chore: exclude test files from SonarCloud duplication analysis
  sonar-project.properties
Due: none

chore: exclude test files from SonarCloud analysis scope
  sonar-project.properties
Due: none

chore: revert broad sonar exclusion, keep cpd exclusion only
  sonar-project.properties
Due: none

feat: display GPU utilization metrics in transcoder tab, sidebar, and bottom bar
  backend/models/schemas.py
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/transcoder/+page.svelte
Due: backend, frontend

test: add GPU metrics coverage for SidebarStats, BottomStatsBar, and transcoder page
  frontend/src/lib/components/SidebarStats.test.ts
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
  frontend/src/routes/transcoder/__tests__/transcoder-page.test.ts
Due: frontend

feat: add dedicated GPU tab to sidebar and bottom stats bar
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/components/SidebarStats.test.ts
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
Due: frontend

fix: use full words for GPU labels in bottom stats bar
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
Due: frontend

feat: add power draw, clocks to GPU metrics; rename Utilization to Load
  backend/models/schemas.py
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/components/SidebarStats.test.ts
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
  frontend/src/lib/types/arm.ts
  frontend/src/routes/transcoder/+page.svelte
  frontend/src/routes/transcoder/__tests__/transcoder-page.test.ts
Due: backend, frontend

feat: color-coded vendor pills — nvidia green, amd red, intel blue
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

feat: folder import wizard polish and review widget improvements
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/FolderBrowser.svelte
  frontend/src/lib/components/FolderImportWizard.svelte
Due: frontend

test: add FolderBrowser, FolderImportWizard, and DiscReviewWidget tests
  frontend/src/lib/components/__tests__/DiscReviewWidget.test.ts
  frontend/src/lib/components/__tests__/FolderBrowser.test.ts
  frontend/src/lib/components/__tests__/FolderImportWizard.test.ts
Due: frontend

fix: merge API theme tokens with built-in defaults to preserve --radius
  frontend/src/lib/stores/colorScheme.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
