Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(main): release 11.13.2-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore(main): release 11.13.3-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: add theme generation template for AI-assisted theme creation
  THEME_TEMPLATE.md
Due: none

feat: theme-locked light/dark mode, default card view, error log links
  frontend/src/app.html
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobRow.svelte
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

test: add comprehensive frontend test coverage for API, stores, and utils
  frontend/src/lib/__tests__/api-wrappers.test.ts
  frontend/src/lib/__tests__/client.test.ts
  frontend/src/lib/__tests__/colorScheme.test.ts
  frontend/src/lib/__tests__/files-api.test.ts
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/__tests__/jobs-api.test.ts
  frontend/src/lib/__tests__/logs-api.test.ts
  frontend/src/lib/__tests__/polling.test.ts
  frontend/src/lib/__tests__/settings-api.test.ts
  frontend/src/lib/__tests__/theme.test.ts
  frontend/src/lib/__tests__/transcoder-api.test.ts
Due: frontend

fix: resolve type error in colorScheme test forceDark assertion
  frontend/src/lib/__tests__/colorScheme.test.ts
Due: frontend

chore: drop alpha prerelease suffix from versioning
  .release-please-manifest.json
  VERSION
Due: none

chore(main): release 12.0.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: multi-title disc support — UI + backend proxy
  backend/models/arm.py
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/services/arm_client.py
  backend/services/arm_db.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/TrackTitleSearch.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

refactor: replace multi-title button with dropdown and badge
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: replace track enabled buttons with checkboxes and remove Edit column
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: add track update API, multi-title backend proxy, and supporting changes
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/services/arm_db.py
  docker-compose.yml
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/+page.svelte
  tests/factories.py
Due: backend, frontend

fix: support ARM_LOGS_PATH override for production log mount
  docker-compose.yml
Due: none

feat: music track display, disc info, collapsible debug, transcoder config
  backend/services/arm_db.py
  docker-compose.yml
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-type.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

feat: abcde.conf editor, music file browser, webhook test fallback
  backend/routers/settings.py
  backend/services/arm_client.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/settings.ts
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

fix: resolve test failures and add coverage for abcde config endpoints
  tests/factories.py
  tests/routers/test_settings.py
Due: none

test: add 55 Python backend tests for codecov patch coverage
  tests/routers/test_jobs_extended.py
  tests/services/test_arm_client_extended.py
  tests/services/test_arm_db_extended.py
  tests/services/test_transcoder_client_extended.py
Due: none

fix: add abcde music progress parsing to UI progress endpoint
  backend/routers/jobs.py
  backend/services/progress.py
Due: backend

fix: zero-track rip guard, error display, progress fallback to no_of_titles
  backend/routers/jobs.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/+page.svelte
  tests/routers/test_jobs.py
  tests/services/test_progress.py
Due: backend, frontend

feat: show disc number on dashboard cards and table view
  backend/models/arm.py
  backend/models/schemas.py
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobRow.svelte
Due: backend, frontend

feat: add AUDIO_FORMAT to rip settings UI
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/types/arm.ts
Due: frontend

feat: add gpu_name field to HardwareInfo and update SidebarStats for GPU display
  backend/models/schemas.py
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/types/arm.ts
Due: backend, frontend

feat: add GitHub Actions workflow for building and pushing Docker images to GHCR
  .github/workflows/build-and-push.yml
Due: none

feat: enhance HardwareInfo and SystemStats with GPU VRAM and utilization metrics
  backend/models/schemas.py
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/types/arm.ts
Due: backend, frontend

fix: track enabled column + countdown timer start time
  backend/models/arm.py
  backend/models/schemas.py
  backend/services/arm_db.py
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/types/arm.ts
Due: backend, frontend

feat: add per-job transcoder log view on job detail page
  backend/routers/transcoder.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/logs.ts
  frontend/src/lib/components/InlineLogFeed.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

feat: UI polish — status labels, waiting_transcode, component fixes
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/components/CountdownTimer.svelte
  frontend/src/lib/components/CrcLookup.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/components/StatusBadge.svelte
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-type.ts
Due: frontend

feat: notifications page with dismiss support
  frontend/src/lib/api/notifications.ts
  frontend/src/routes/notifications/+page.svelte
Due: frontend

feat: layout nav, dashboard idle state, LCARS section headers
  frontend/src/app.css
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

feat: TVDB multi-season matching panel and episode columns
  backend/models/arm.py
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TvdbMatch.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

fix: exclude stale drives from drives_online count and fix track mock
  backend/routers/dashboard.py
  tests/factories.py
Due: backend

fix: use primary colors for toggle, fix LCARS tab styling, filter stale drives
  backend/services/arm_db.py
  frontend/src/app.css
  frontend/src/routes/+layout.svelte
  frontend/src/routes/logs/+page.svelte
Due: backend, frontend

fix: use primary color tokens for files page warning banner
  frontend/src/routes/files/+page.svelte
Due: frontend

fix: make confirm dialog opaque in themes with semi-transparent surfaces
  frontend/src/app.css
  frontend/src/lib/components/ConfirmDialog.svelte
Due: frontend

fix: add season/episode/artist/album columns to Job model
  backend/models/arm.py
  tests/factories.py
Due: backend

chore: update QEMU setup action to version 4
  .github/workflows/build-and-push.yml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
