Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

feat(theme): add status-color tokens + statusAccentVar helper
  frontend/src/app.css
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/components/ProgressBar.svelte
  frontend/src/lib/components/StatusBadge.test.ts
  frontend/src/lib/utils/format.ts
Due: frontend

feat(home): redesign active rip + transcode cards
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/components/TranscodeCard.test.ts
  frontend/src/lib/components/__tests__/ActiveJobRow.test.ts
  frontend/src/lib/types/transcoder.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
  frontend/src/routes/transcoder/__tests__/transcoder-page.test.ts
Due: frontend

fix(dashboard): bucket disambiguated wire strings in waiting/ripping filters
  frontend/src/routes/+page.svelte
Due: frontend

refactor(models): split schemas.py into per-domain modules
  backend/models/dashboard.py
  backend/models/drive.py
  backend/models/folder.py
  backend/models/job.py
  backend/models/logs.py
  backend/models/metadata.py
  backend/models/notification.py
  backend/models/schemas.py
  backend/models/settings.py
  backend/models/system.py
  backend/models/transcoder.py
  backend/routers/folder.py
Due: backend

test(transcoder): freeze transcoder response shape fixtures
  tests/fixtures/transcoder/job_list.json
  tests/fixtures/transcoder/stats.json
  tests/services/test_transcoder_client_shape.py
Due: none

feat(models): add typed BFF response models, response_model coverage
  backend/models/config.py
  backend/models/dashboard.py
  backend/models/files.py
  backend/models/folder.py
  backend/models/job.py
  backend/models/maintenance.py
  backend/models/metadata.py
  backend/models/preset.py
  backend/models/schemas.py
  backend/models/settings.py
  backend/models/setup.py
  backend/models/system.py
  backend/models/transcoder.py
  backend/routers/arm_actions.py
  backend/routers/config.py
  backend/routers/dashboard.py
  backend/routers/files.py
  backend/routers/folder.py
  backend/routers/maintenance.py
  backend/routers/setup.py
  backend/routers/system.py
  backend/routers/transcoder.py
  tests/routers/test_settings_coverage.py
  tests/routers/test_transcoder.py
  tests/services/test_transcoder_client_shape.py
  tests/test_schemas_contract_adoption.py
Due: backend

feat(codegen): add FastAPI -> TypeScript codegen pipeline
  .github/workflows/codegen.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/types/api.gen.ts
  scripts/codegen.sh
  scripts/dump_openapi.py
Due: frontend

chore(types): widen frontend helper signatures + delete obsolete TS types
  backend/models/files.py
  backend/models/metadata.py
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/lib/components/FileIcon.svelte
  frontend/src/lib/components/FileRow.svelte
  frontend/src/lib/components/FolderBrowser.svelte
  frontend/src/lib/components/FolderImportWizard.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/MusicSearch.svelte
  frontend/src/lib/components/StatusBadge.svelte
  frontend/src/lib/components/TranscodeOverrides.svelte
  frontend/src/lib/components/TvdbMatch.svelte
  frontend/src/lib/components/setup/WelcomeStep.svelte
  frontend/src/lib/types/api.gen.ts
  frontend/src/lib/types/arm.ts
  frontend/src/lib/types/files.ts
  frontend/src/lib/types/setup.ts
  frontend/src/lib/types/transcoder.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-fields.ts
  frontend/src/lib/utils/job-type.ts
  frontend/src/routes/files/+page.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
  tests/routers/test_files.py
Due: backend, frontend

fix(ci): unstick codegen workflow + sweep leftover legacy type imports
  .github/workflows/codegen.yml
  frontend/src/lib/__tests__/job-fields.test.ts
  frontend/src/lib/api/folder.ts
  frontend/src/lib/components/FolderBrowser.svelte
  frontend/src/lib/components/FolderImportWizard.svelte
  frontend/tests/fixtures/dashboard.ts
Due: frontend

chore(types): regenerate api.gen.ts
  frontend/src/lib/types/api.gen.ts
Due: frontend

refactor(maintenance): mirror arm-neu PR #322 invariant wire shapes
  backend/models/files.py
  backend/models/maintenance.py
  backend/models/schemas.py
  backend/routers/maintenance.py
  frontend/src/lib/api/maintenance.ts
  frontend/src/lib/types/api.gen.ts
  frontend/src/routes/files/__tests__/files-page.test.ts
  frontend/src/routes/settings/+page.svelte
  tests/routers/test_maintenance.py
Due: backend, frontend

chore(main): release 17.4.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat(ui): visual job lifecycle widget on dashboard cards + detail page
  frontend/src/lib/__tests__/job-lifecycle.test.ts
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobLifecycle.svelte
  frontend/src/lib/components/JobLifecycle.test.ts
  frontend/src/lib/utils/job-lifecycle.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat(ui): job-detail lifecycle as title-above-bar blocks below header
  frontend/src/lib/components/JobLifecycle.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix(settings): drop non-string comments entries before model validation
  backend/routers/settings.py
  tests/routers/test_settings.py
Due: backend

chore(main): release 17.5.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

refactor(import): rename FolderImportWizard -> ImportWizard, FolderBrowser -> IngressBrowser
  frontend/src/lib/__tests__/import-api.test.ts
  frontend/src/lib/api/import-jobs.ts
  frontend/src/lib/components/ImportWizard.svelte
  frontend/src/lib/components/ImportWizard.test.ts
  frontend/src/lib/components/IngressBrowser.svelte
  frontend/src/lib/components/__tests__/ImportWizard.test.ts
  frontend/src/lib/components/__tests__/IngressBrowser.test.ts
  frontend/src/lib/components/__tests__/IngressBrowserMock.svelte
  frontend/src/lib/types/api.gen.ts
  frontend/src/routes/+layout.svelte
Due: frontend

feat(iso): unified Import wizard with ISO file support
  frontend/src/lib/api/import-jobs.ts
  frontend/src/lib/components/ImportWizard.svelte
  frontend/src/lib/components/IngressBrowser.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobCard.test.ts
  frontend/src/lib/components/__tests__/ImportWizard.test.ts
  frontend/src/lib/components/__tests__/IngressBrowser.test.ts
  frontend/src/lib/components/__tests__/IngressBrowserMock.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend
