Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: deduplicate test fixtures to reduce SonarCloud duplication
  frontend/src/routes/jobs/[id]/page.test.ts
  tests/routers/test_arm_actions.py
  tests/services/test_arm_client.py
Due: frontend

feat: surface SKIP_TRANSCODE in UI settings schema
  backend/models/schemas.py
  frontend/src/lib/types/arm.ts
Due: backend, frontend

feat: add Skip & Finalize button for stuck transcode jobs
  backend/routers/arm_actions.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

feat!: preset picker and SKIP_TRANSCODE UI (breaking: replaces hardcoded encoding settings)
  CHANGELOG.md
Due: none

feat: add force-complete UI for marking stuck jobs as success
  backend/routers/arm_actions.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/jobs/[id]/page.test.ts
  tests/routers/test_arm_actions.py
  tests/services/test_arm_client.py
Due: backend, frontend

feat: show force-complete and skip-transcode in job actions dropdown for transcode statuses
  frontend/src/lib/components/JobActions.svelte
Due: frontend

feat: support {show} and {episode_name} naming variables in UI
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

test: skip-and-finalize must show confirmation before calling API
  frontend/src/routes/jobs/[id]/page.test.ts
Due: frontend

feat: confirm dialog before skip-and-finalize
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: skip-and-finalize UX polish from code review
  frontend/src/lib/components/ConfirmDialog.svelte
  frontend/src/lib/components/ConfirmDialog.test.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/jobs/[id]/page.test.ts
Due: frontend

test: get_job_retranscode_info must strip legacy transcode_overrides keys
  tests/services/test_arm_db_shape_filter.py
Due: none

fix: filter legacy transcode_overrides keys on read
  backend/services/arm_db.py
Due: backend

fix: strip legacy transcode_overrides in JobSchema serialization
  backend/models/schemas.py
  tests/services/test_arm_db_shape_filter.py
Due: backend

fix: tracks_total excludes disabled tracks
  backend/services/arm_db.py
  tests/services/test_arm_db_coverage.py
Due: backend

fix: transcoder log panel correlates to correct job
  backend/routers/transcoder.py
  backend/services/transcoder_client.py
  frontend/src/lib/components/InlineLogFeed.svelte
  tests/routers/test_transcoder.py
  tests/services/test_transcoder_client_coverage.py
Due: backend, frontend

feat: job progress widgets for rip/copy/transcode phases
  backend/routers/transcoder.py
  frontend/src/lib/api/logs.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  tests/routers/test_transcoder.py
Due: backend, frontend

fix: use pytest.approx for progress field float equality
  tests/routers/test_transcoder.py
Due: none

feat: log filter UI in InlineLogFeed
  frontend/src/lib/components/InlineLogFeed.svelte
  frontend/src/lib/components/InlineLogFeed.test.ts
Due: frontend

chore(main): release 16.0.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: refresh README feature list for v16.0.0; close SKIP_TRANSCODE milestone
  README.md
  ROADMAP.md
Due: none

feat: add arm-contracts as components/contracts submodule
  .gitignore
  .gitmodules
  Dockerfile
  requirements.txt
Due: none

feat: validate transcode_overrides via TranscodeJobConfig
  backend/models/schemas.py
  backend/services/arm_client.py
  backend/services/arm_db.py
Due: backend

ci(arm-ui): add lockstep workflows + submodule fetch
  .github/workflows/bump-submodule.yml
  .github/workflows/publish-image.yml
  .github/workflows/publish-prerelease.yml
  .github/workflows/submodule-lockstep.yml
  .github/workflows/test-pr-image-build.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
