Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

chore(contracts): bump submodule + add fields to AppriseConfig type
  frontend/src/lib/types/notifications.ts
Due: frontend

fix(sidebar): raise httpx keepalive_expiry past poll cadence to stop flicker
  backend/services/arm_client.py
  backend/services/transcoder_client.py
Due: backend

feat(notifications): editor test-send via channel_id+fields when dirty
  frontend/src/lib/api/channels.ts
  frontend/src/lib/components/notifications/NotificationsTab.svelte
  frontend/src/lib/components/notifications/__tests__/NotificationsTab.svelte.test.ts
Due: frontend

style(notifications): polish empty state + consolidate Add button into filter bar
  frontend/src/lib/components/notifications/NotificationsTab.svelte
Due: frontend

feat(notifications): SchemaField treats <hidden> as keep-current placeholder
  frontend/src/lib/components/notifications/SchemaField.svelte
  frontend/src/lib/components/notifications/__tests__/SchemaField.test.ts
Due: frontend

feat(notifications): editor seeds appriseFields + raw-URL guard
  frontend/src/lib/components/notifications/ChannelEditor.svelte
  frontend/src/lib/components/notifications/__tests__/ChannelEditor.svelte.test.ts
  frontend/src/lib/components/notifications/__tests__/apprise-fixtures.ts
Due: frontend

fix(sidebar+settings): debounce arm/transcoder offline flag; stop double-scroll on tab click
  frontend/src/lib/stores/__tests__/dashboard.test.ts
  frontend/src/lib/stores/dashboard.ts
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix(notifications): stop double scrollbar when channel editor is expanded
  frontend/src/lib/components/notifications/AddChannelForm.svelte
  frontend/src/lib/components/notifications/EventSubscriptions.svelte
Due: frontend

fix(notifications): align channel-list column headers + style Close button
  frontend/src/lib/components/notifications/ChannelEditor.svelte
  frontend/src/lib/components/notifications/ChannelList.svelte
  frontend/src/lib/components/notifications/ChannelRow.svelte
Due: frontend

chore(main): release 19.0.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore(deps): update uvicorn requirement from >=0.47.0,<1 to >=0.48.0,<1
  requirements.txt
Due: none

feat(demo): add ARM_UI_DEMO_MODE for isolated UI with seed data
  backend/config.py
  backend/demo/__init__.py
  backend/demo/data.py
  backend/demo/http.py
  backend/demo/routes_arm.py
  backend/demo/routes_transcoder.py
  backend/demo/store.py
  backend/demo/transport.py
  backend/services/arm_client.py
  backend/services/transcoder_client.py
  docker-compose.yml
  tests/factories.py
  tests/test_demo_mode.py
Due: backend

docs(demo): add clone/set/run guide for demo mode
  docs/demo-mode.md
Due: none

test(demo): use https in demo test URLs to clear Sonar hotspots
  tests/test_demo_mode.py
Due: none

chore(main): release 19.1.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix(ui): stop transcoder/dashboard elements popping in on load
  backend/demo/data.py
  frontend/src/lib/stores/transcoder.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
Due: backend, frontend

chore(main): release 19.1.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

build: consume contracts via BuildKit named context
  .github/workflows/publish-image.yml
  .github/workflows/publish-prerelease.yml
  .github/workflows/test-pr-image-build.yml
  Dockerfile
  docker-compose.yml
Due: none

security: confine poster-proxy redirect to same-app path (prevent open redirect)
  backend/routers/folder.py
Due: backend

security: confine user-controlled paths to trusted roots (path traversal)
  backend/common/__init__.py
  backend/common/path_safety.py
  backend/main.py
  backend/services/themes.py
Due: backend

test(frontend): avoid hard-coded /tmp paths in logs-page test (SonarCloud S5443)
  frontend/src/routes/logs/__tests__/logs-page.test.ts
Due: frontend
