Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

chore(main): release 15.3.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: add Force Rescan button to drives settings
  backend/routers/drives.py
  backend/services/arm_client.py
  frontend/src/lib/api/drives.ts
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

chore(main): release 15.4.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: stop poster image flicker on dashboard polling
  backend/routers/images.py
  frontend/src/lib/components/PosterImage.svelte
Due: backend, frontend

test: update image proxy tests to expect 404 for rejected requests
  tests/routers/test_images.py
Due: none

chore(main): release 15.4.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: move superpowers plans/specs to sibling ai/ repo
  CLAUDE.md
  docs/superpowers/plans/2026-03-22-jobs-page-redesign.md
  docs/superpowers/plans/2026-03-22-maintenance-page.md
  docs/superpowers/plans/2026-03-22-makemkv-key-check.md
  docs/superpowers/plans/2026-03-23-image-proxy-cache.md
  docs/superpowers/plans/2026-04-08-job-detail-header-redesign.md
  docs/superpowers/plans/2026-04-08-pause-timer-fix.md
  docs/superpowers/specs/2026-03-19-setup-wizard-design.md
  docs/superpowers/specs/2026-03-20-service-restart-enhancements-design.md
  docs/superpowers/specs/2026-03-22-jobs-page-redesign.md
  docs/superpowers/specs/2026-03-22-maintenance-page-design.md
  docs/superpowers/specs/2026-03-22-makemkv-key-check-design.md
  docs/superpowers/specs/2026-03-23-image-proxy-cache-design.md
  docs/superpowers/specs/2026-04-08-job-detail-header-redesign.md
  docs/superpowers/specs/2026-04-08-pause-timer-fix-design.md
Due: none

chore: gitignore root-level screenshots and local tooling debris
  .gitignore
Due: none

feat: update UI backend for new preset system
  backend/routers/settings.py
  backend/services/arm_db.py
  backend/services/transcoder_client.py
  tests/routers/test_jobs_extended.py
  tests/routers/test_settings_coverage.py
  tests/services/test_arm_db_extended.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

feat(backend): add preset CRUD client methods
  backend/services/transcoder_client.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

fix(backend): broaden offline catch + improve preset CRUD tests
  backend/services/transcoder_client.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

feat(backend): add preset CRUD proxy routes
  backend/routers/settings.py
  tests/routers/test_settings_coverage.py
Due: backend

fix(backend): NoReturn annotation + complete preset proxy 4xx test coverage
  backend/routers/settings.py
  tests/routers/test_settings_coverage.py
Due: backend

feat(frontend): add preset/scheme TypeScript types
  frontend/src/lib/types/presets.ts
Due: frontend

feat(frontend): add preset API client functions
  frontend/src/lib/api/settings.ts
Due: frontend

feat(frontend): scaffold PresetEditor component with scheme header
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): preset dropdown with built-in/custom/unavailable groups
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): customize panel with shared + tier rows + dirty highlighting
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): add save bar with Save/Save-as-new/Revert
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

fix(frontend): use 'Save changes' visible text on save button
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): edge cases - saving lock, unavailable warning, undo toast
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

fix(frontend): PresetEditor cleanup - timer leak, save-as-new error contract, Number('') bug, missing tests
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): replace encoding section with PresetEditor in settings page
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

feat(frontend): rewrite TranscodeOverrides as PresetEditor wrapper
  frontend/src/lib/components/TranscodeOverrides.svelte
  frontend/src/lib/components/TranscodeOverrides.test.ts
Due: frontend

fix(frontend): default to first preset; hide preset-managed fields from operational section
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/TranscodeOverrides.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix(frontend): tier field falls back to preset.shared when not set per-tier
  frontend/src/lib/components/PresetEditor.svelte
Due: frontend

fix: extract transcoder-unreachable constant and document 502 responses
  backend/routers/settings.py
Due: backend

fix(security): validate preset slug before building outbound URL
  backend/routers/settings.py
  backend/services/transcoder_client.py
  tests/routers/test_settings_coverage.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

test: cover non-JSON error body fallback in preset proxy helper
  tests/routers/test_settings_coverage.py
Due: none

fix: surface 4xx/5xx from transcoder update_config (previously swallowed as 502 'unreachable'); style Save-as-new-preset as button
  backend/routers/settings.py
  backend/services/transcoder_client.py
  frontend/src/lib/components/PresetEditor.svelte
  tests/routers/test_settings_coverage.py
  tests/services/test_transcoder_client_coverage.py
Due: backend, frontend

fix: snapshot $state proxy before passing to fetch to avoid DOMException
  frontend/src/lib/components/PresetEditor.svelte
Due: frontend

fix: snapshot settings.transcoder_config before derived preset state
  frontend/src/routes/settings/+page.svelte
Due: frontend

test: cover settings.ts preset API wrappers, PresetEditor save-as-new modal + undo
  frontend/src/lib/__tests__/settings-api-extra.test.ts
  frontend/src/lib/components/PresetEditor.test.ts
  frontend/src/lib/components/TranscodeOverrides.test.ts
Due: frontend
