Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(phase): surface transcoder sub-status on job detail page
  backend/routers/transcoder.py
  frontend/src/lib/api/logs.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  tests/routers/test_transcoder.py
Due: backend, frontend

chore(deps): drop unused pyyaml
  requirements.txt
Due: none

fix(jobs): purge redirects on detail page; bulk-purge pages under per_page cap
  backend/routers/jobs.py
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/JobActions.test.ts
  tests/routers/test_jobs_bulk.py
Due: backend, frontend

fix(security): strip CRLF from user-controlled values before logging
  backend/routers/jobs.py
  tests/routers/test_jobs_bulk.py
Due: backend

chore(main): release 17.3.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat(jobs): render disc-review filter state from backend skip_reason
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat(disc-review): apply backend skip_reason truth to DiscReviewWidget too
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

chore(ui): trim non-JobState defensive values from status utility helpers
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-type.ts
Due: frontend

feat: adopt arm_contracts v2.0.0 JobState disambiguation
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/__tests__/job-type.test.ts
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/utils/format.ts
  frontend/src/lib/utils/job-type.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat(home): replace Elapsed cell with computed ETA on active cards
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/utils/format.ts
Due: frontend

feat(home): redesign active rip + transcode cards
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/components/TranscodeCard.test.ts
  frontend/src/lib/components/__tests__/ActiveJobRow.test.ts
  frontend/src/lib/types/transcoder.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
  frontend/src/routes/transcoder/__tests__/transcoder-page.test.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
