Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(main): release 11.6.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: proxy metadata requests through ARM API
  backend/main.py
  backend/models/schemas.py
  backend/routers/arm_actions.py
  backend/routers/jobs.py
  backend/routers/notifications.py
  backend/routers/settings.py
  backend/services/arm_client.py
  backend/services/crc_lookup.py
  backend/services/metadata.py
  backend/services/music_metadata.py
  backend/tests/test_music_metadata.py
  tests/conftest.py
  tests/routers/test_jobs.py
  tests/routers/test_metadata.py
  tests/services/test_arm_client.py
  tests/services/test_metadata.py
Due: backend

fix: surface real ARM API errors instead of generic "unreachable" message
  backend/services/arm_client.py
Due: backend

feat: move drives page into settings as a tab
  frontend/src/routes/+layout.svelte
  frontend/src/routes/drives/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: condense dashboard into unified status bar
  frontend/src/app.css
  frontend/src/routes/+page.svelte
Due: frontend

fix: resolve TypeScript error and update arm_client tests
  frontend/src/routes/settings/+page.svelte
  tests/services/test_arm_client.py
Due: frontend

chore(main): release 11.7.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: show waiting_transcode status with yellow color instead of gray
  frontend/src/lib/utils/format.ts
Due: frontend

chore(main): release 11.7.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore(main): release 11.8.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore(main): release 11.9.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: add warning banner to file browser page
  frontend/src/routes/files/+page.svelte
Due: frontend

chore(main): release 11.10.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: file permissions display, fix-permissions, host paths, bulk delete fix
  backend/routers/files.py
  backend/services/arm_client.py
  frontend/src/lib/api/files.ts
  frontend/src/lib/components/FileRow.svelte
  frontend/src/lib/types/files.ts
  frontend/src/routes/files/+page.svelte
Due: backend, frontend

chore(main): release 11.11.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: breadcrumb hover too dark on dark mode
  frontend/src/lib/components/BreadcrumbNav.svelte
Due: frontend

chore(main): release 11.11.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore(main): release 11.12.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

chore(main): release 11.12.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: address SonarCloud reliability bugs
  backend/routers/settings.py
  backend/services/arm_db.py
  backend/services/transcoder_client.py
  frontend/src/app.css
  frontend/src/app.html
  tests/routers/test_arm_actions.py
  tests/routers/test_dashboard.py
Due: backend, frontend

chore(main): release 11.12.2-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: move stats bar and auto-start toggle to global header, add themes
  frontend/src/app.css
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

chore(main): release 11.13.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: exclude colorScheme.ts from SonarCloud duplication detection
  sonar-project.properties
Due: none

fix: resolve remaining 8 SonarCloud high-impact issues
  backend/routers/files.py
  backend/routers/jobs.py
Due: backend

chore(main): release 11.13.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: improve font rendering and Blockbuster theme legibility
  frontend/src/app.css
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
