Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

refactor: deduplicate dashboard tests, bulk actions menu, and page component
  frontend/src/lib/components/BulkActionsMenu.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

fix: TypeScript type error in it.each filter pill test
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

feat: merge Jobs page into Dashboard and remove standalone /jobs route
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/__tests__/dashboard-page.test.ts
  frontend/src/routes/jobs/+page.svelte
  frontend/src/routes/jobs/__tests__/jobs-page.test.ts
Due: frontend

test: add coverage for dashboard jobs section (stats, filters, search, sort, selection, bulk actions, pagination)
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

fix: resolve SonarCloud warnings — unused import, raw string, non-null assertions
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

refactor: extract dashboard job UI into reusable components
  frontend/src/lib/components/BulkActionsMenu.svelte
  frontend/src/lib/components/JobFilterBar.svelte
  frontend/src/lib/components/JobPagination.svelte
  frontend/src/lib/components/JobStatsPanel.svelte
  frontend/src/routes/+page.svelte
Due: frontend

fix: move job counts to dashboard top, remove Jobs nav link
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

fix: UI polish — hide episode matcher for movies, lock disc label, skip short tracks
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: add worker pool API proxy and types
  backend/routers/transcoder.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/transcoder.ts
  frontend/src/lib/types/transcoder.ts
Due: backend, frontend

feat: worker pool display on transcoder page
  frontend/src/routes/transcoder/+page.svelte
  frontend/src/routes/transcoder/__tests__/transcoder-page.test.ts
Due: frontend

feat: add transcoder nav link and fix status bar link
  frontend/src/routes/+layout.svelte
Due: frontend

fix: parse wrapper script log lines into structured fields
  backend/services/log_reader.py
Due: backend

fix: parse ISO timestamp bracket log format (rescan_drive)
  backend/services/log_reader.py
Due: backend

fix: get_job uses query param instead of non-existent path route
  backend/services/transcoder_client.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

fix: retranscode fallback to transcoder job ID when arm_job_id is null
  backend/routers/transcoder.py
Due: backend

fix: add error handling and feedback for retranscode action
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

feat: disable Re-transcode button when source files are deleted
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

fix: auto-refresh job list when transcoding is active
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

feat: add rip_speed to updateDrive API wrapper
  frontend/src/lib/api/drives.ts
Due: frontend

feat: add gear menu with rip speed setting to drive card
  frontend/src/lib/components/DriveCard.svelte
Due: frontend

feat: add rip_speed to Drive type
  frontend/src/lib/types/arm.ts
Due: frontend

feat: add preflight proxy routes to UI backend
  backend/routers/system.py
  backend/services/arm_client.py
Due: backend

feat: add SystemHealth panel component for Settings page
  frontend/src/lib/components/settings/SystemHealth.svelte
Due: frontend

feat: add ReadinessCheckStep component for setup wizard
  frontend/src/lib/components/setup/ReadinessCheckStep.svelte
Due: frontend

feat: add preflight TypeScript API types and functions
  frontend/src/lib/api/system.ts
Due: frontend

feat: insert ReadinessCheckStep as step 3 in setup wizard
  frontend/src/lib/components/setup/SetupWizard.svelte
Due: frontend

feat: add System Health panel to Settings page
  frontend/src/routes/settings/+page.svelte
Due: frontend
