Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: hide title override search for tracks below MINLENGTH
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

fix(frontend): default to first preset; hide preset-managed fields from operational section
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/TranscodeOverrides.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat(frontend): edge cases - saving lock, unavailable warning, undo toast
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): rewrite TranscodeOverrides as PresetEditor wrapper
  frontend/src/lib/components/TranscodeOverrides.svelte
  frontend/src/lib/components/TranscodeOverrides.test.ts
Due: frontend

feat(frontend): add preset/scheme TypeScript types
  frontend/src/lib/types/presets.ts
Due: frontend

fix(backend): NoReturn annotation + complete preset proxy 4xx test coverage
  backend/routers/settings.py
  tests/routers/test_settings_coverage.py
Due: backend

feat(frontend): replace encoding section with PresetEditor in settings page
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix(security): validate preset slug before building outbound URL
  backend/routers/settings.py
  backend/services/transcoder_client.py
  tests/routers/test_settings_coverage.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

feat(frontend): scaffold PresetEditor component with scheme header
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

fix: surface 4xx/5xx from transcoder update_config (previously swallowed as 502 'unreachable'); style Save-as-new-preset as button
  backend/routers/settings.py
  backend/services/transcoder_client.py
  frontend/src/lib/components/PresetEditor.svelte
  tests/routers/test_settings_coverage.py
  tests/services/test_transcoder_client_coverage.py
Due: backend, frontend

feat(backend): add preset CRUD client methods
  backend/services/transcoder_client.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

feat: update UI backend for new preset system
  backend/routers/settings.py
  backend/services/arm_db.py
  backend/services/transcoder_client.py
  tests/routers/test_jobs_extended.py
  tests/routers/test_settings_coverage.py
  tests/services/test_arm_db_extended.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

feat(frontend): add save bar with Save/Save-as-new/Revert
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): preset dropdown with built-in/custom/unavailable groups
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

fix: snapshot $state proxy before passing to fetch to avoid DOMException
  frontend/src/lib/components/PresetEditor.svelte
Due: frontend

fix(frontend): tier field falls back to preset.shared when not set per-tier
  frontend/src/lib/components/PresetEditor.svelte
Due: frontend

fix(frontend): PresetEditor cleanup - timer leak, save-as-new error contract, Number('') bug, missing tests
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

feat(frontend): add preset API client functions
  frontend/src/lib/api/settings.ts
Due: frontend

test: cover settings.ts preset API wrappers, PresetEditor save-as-new modal + undo
  frontend/src/lib/__tests__/settings-api-extra.test.ts
  frontend/src/lib/components/PresetEditor.test.ts
  frontend/src/lib/components/TranscodeOverrides.test.ts
Due: frontend

feat(frontend): customize panel with shared + tier rows + dirty highlighting
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

fix(frontend): use 'Save changes' visible text on save button
  frontend/src/lib/components/PresetEditor.svelte
  frontend/src/lib/components/PresetEditor.test.ts
Due: frontend

fix(backend): broaden offline catch + improve preset CRUD tests
  backend/services/transcoder_client.py
  tests/services/test_transcoder_client_coverage.py
Due: backend

test: cover non-JSON error body fallback in preset proxy helper
  tests/routers/test_settings_coverage.py
Due: none

fix: snapshot settings.transcoder_config before derived preset state
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: extract transcoder-unreachable constant and document 502 responses
  backend/routers/settings.py
Due: backend

feat(backend): add preset CRUD proxy routes
  backend/routers/settings.py
  tests/routers/test_settings_coverage.py
Due: backend

feat: surface SKIP_TRANSCODE in UI settings schema
  backend/models/schemas.py
  frontend/src/lib/types/arm.ts
Due: backend, frontend

feat: add SKIP_TRANSCODE toggle to review panel
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

feat: add Skip & Finalize button for stuck transcode jobs
  backend/routers/arm_actions.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

feat: add SKIP_TRANSCODE global toggle to settings page
  frontend/src/routes/settings/+page.svelte
Due: frontend

test: add coverage for skip-and-finalize proxy and API
  frontend/src/lib/api/__tests__/jobs.test.ts
  frontend/src/lib/components/DiscReviewWidget.test.ts
  tests/routers/test_arm_actions.py
  tests/services/test_arm_client.py
Due: frontend

test: improve coverage for skip-transcode UI components
  frontend/src/lib/components/DiscReviewWidget.test.ts
  frontend/src/routes/jobs/[id]/page.test.ts
Due: frontend

refactor: deduplicate ARM proxy endpoints to reduce code duplication
  backend/routers/arm_actions.py
Due: backend

refactor: deduplicate test fixtures to reduce SonarCloud duplication
  frontend/src/routes/jobs/[id]/page.test.ts
  tests/routers/test_arm_actions.py
  tests/services/test_arm_client.py
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
