Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: link contracts repo in Related Projects
  README.md
Due: none

chore(main): release 18.2.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat(notifications): arm_client proxies for channel/catalog/dispatch endpoints
  backend/services/arm_client.py
  tests/services/test_arm_client_channels.py
Due: backend

refactor(notifications): tighten list_channels/list_dispatches return types
  backend/services/arm_client.py
Due: backend

feat(notifications): BFF passthrough routes for channels/catalog/dispatch
  backend/routers/notifications.py
  frontend/src/lib/types/api.gen.ts
  tests/routers/test_notifications.py
Due: backend, frontend

feat(notifications): hand-written frontend types for channels + catalog
  frontend/src/lib/__tests__/notifications-types.test.ts
  frontend/src/lib/types/notifications.ts
Due: frontend

feat(notifications): frontend channels API client
  frontend/src/lib/__tests__/channels-api.test.ts
  frontend/src/lib/api/channels.ts
Due: frontend

feat(notifications): schema-driven SchemaField component
  frontend/src/lib/components/notifications/SchemaField.svelte
  frontend/src/lib/components/notifications/__tests__/SchemaField.test.ts
Due: frontend

feat(notifications): EventSubscriptions checkbox group
  frontend/src/lib/components/notifications/EventSubscriptions.svelte
  frontend/src/lib/components/notifications/__tests__/EventSubscriptions.test.ts
Due: frontend

feat(notifications): per-event TemplateEditor
  frontend/src/lib/components/notifications/TemplateEditor.svelte
  frontend/src/lib/components/notifications/__tests__/TemplateEditor.test.ts
Due: frontend

feat(notifications): ServicePicker with featured + search
  frontend/src/lib/components/notifications/ServicePicker.svelte
  frontend/src/lib/components/notifications/__tests__/ServicePicker.test.ts
Due: frontend

feat(notifications): DispatchHistory pane
  frontend/src/lib/components/notifications/DispatchHistory.svelte
  frontend/src/lib/components/notifications/__tests__/DispatchHistory.test.ts
Due: frontend

feat(notifications): ChannelCard list row
  frontend/src/lib/components/notifications/ChannelCard.svelte
  frontend/src/lib/components/notifications/__tests__/ChannelCard.test.ts
Due: frontend

feat(notifications): channels list view
  frontend/src/routes/settings/notifications/+page.svelte
  frontend/src/routes/settings/notifications/+page.ts
  frontend/src/routes/settings/notifications/__tests__/list.test.ts
Due: frontend

feat(notifications): create-channel flow (apprise/webhook/bash)
  frontend/src/routes/settings/notifications/__tests__/new.test.ts
  frontend/src/routes/settings/notifications/new/+page.svelte
  frontend/src/routes/settings/notifications/new/+page.ts
Due: frontend

feat(notifications): channel edit view with test-send polling
  frontend/src/routes/settings/notifications/[id]/+page.svelte
  frontend/src/routes/settings/notifications/[id]/+page.ts
  frontend/src/routes/settings/notifications/__tests__/detail.test.ts
Due: frontend

feat(notifications)!: remove legacy flat-config notification fields from settings
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

chore(types): regenerate api.gen.ts
  frontend/src/lib/types/api.gen.ts
Due: frontend

fix(notifications): percent-encode service_id in compose-url path (SonarCloud SSRF)
  backend/services/arm_client.py
  tests/services/test_arm_client_channels.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
