Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

fix: setup page redirects before render via load function
  frontend/src/routes/setup/+page.svelte
  frontend/src/routes/setup/+page.ts
Due: frontend

fix: show episode number badge instead of CUSTOM for episode-matched tracks
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: add EpisodeMatch component with match table and dropdown reassignment
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

fix: sort episode dropdown options by episode number
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

feat: prefill season/disc fields in folder import wizard from scan
  frontend/src/lib/components/FolderImportWizard.svelte
  frontend/src/lib/types/arm.ts
Due: frontend

fix: increase review widget button size for better readability
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

fix: add season/disc fields to UI proxy FolderCreateRequest, fix test factory defaults
  backend/routers/folder.py
Due: backend

fix: EpisodeMatch auto-resolves TVDB from IMDB, fallback dropdown from match results
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

fix: setup page redirects to dashboard when complete, type fixes for episode match fallback
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/lib/components/EpisodeMatch.test.ts
  frontend/src/lib/components/FolderImportWizard.test.ts
  frontend/src/routes/setup/+page.svelte
Due: frontend

feat: replace TVDB button with Episodes panel using EpisodeMatch component
  frontend/src/lib/__tests__/jobs-api-extra.test.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

test: add setup page load function tests (redirect, incomplete, error paths)
  frontend/src/routes/setup/__tests__/setup-page.test.ts
Due: frontend

fix: setup test import path and null check for type safety
  frontend/src/routes/setup/__tests__/setup-page.test.ts
Due: frontend

feat: wire naming-preview API into EpisodeMatch, show rendered filenames after apply
  backend/routers/jobs.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/EpisodeMatch.svelte
Due: backend, frontend

feat: make sidebar storage stats clickable links to files browser
  frontend/src/lib/components/SidebarStats.svelte
Due: frontend

test: add naming-preview proxy and sidebar storage link coverage
  frontend/src/lib/components/SidebarStats.test.ts
  tests/routers/test_jobs.py
Due: frontend

fix: disable auto-proceed timer for folder import jobs
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

fix: LCARS navbar button visibility and episode match input sizing
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/routes/+layout.svelte
Due: frontend

fix: convert TVDB episode runtime from seconds to minutes for display
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

feat: show rendered output filename in review track table
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

test: add coverage for naming preview, runtime conversion, episode dropdowns
  frontend/src/lib/__tests__/jobs-api-extra.test.ts
  frontend/src/lib/components/DiscReviewWidget.test.ts
  frontend/src/lib/components/EpisodeMatch.test.ts
Due: frontend

feat: add clear raw directory maintenance action
  backend/routers/maintenance.py
  backend/services/arm_client.py
  frontend/src/lib/api/maintenance.ts
  frontend/src/routes/maintenance/+page.svelte
Due: backend, frontend

test: add clearRaw API coverage
  frontend/src/lib/__tests__/maintenance-api.test.ts
Due: frontend

test: add backend coverage for clear-raw endpoint
  tests/routers/test_maintenance.py
Due: none

feat: add naming proxy endpoints for per-job overrides
  backend/routers/jobs.py
  backend/services/arm_client.py
  tests/routers/test_jobs.py
Due: backend

feat: per-job naming overrides UI with editable patterns and custom filenames
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/EpisodeMatch.test.ts
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/components/TrackTitleSearch.test.ts
  frontend/src/lib/components/__fixtures__/job.ts
  frontend/src/lib/types/arm.ts
Due: frontend

test: add coverage for naming override API functions
  frontend/src/lib/__tests__/jobs-api-extra.test.ts
Due: frontend

test: add arm_client coverage for naming override functions
  tests/services/test_arm_client_extended.py
Due: none
