Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: add disc type icon to review widget and minor cleanup
  .gitignore
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

chore(main): release 0.6.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: sync Config model with actual ARM database schema
  backend/models/arm.py
Due: backend

fix: sync Config model with ARM DB schema and add missing active statuses
  backend/services/arm_db.py
Due: backend

feat: track progress on dashboard cards + auto-refresh job detail
  backend/models/schemas.py
  backend/routers/dashboard.py
  backend/services/arm_db.py
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  tests/factories.py
  tests/routers/test_dashboard.py
  tests/services/test_arm_db.py
Due: backend, frontend

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: expose imdb_id and poster_url auto/manual variants in API schema
  backend/models/schemas.py
  frontend/src/lib/types/arm.ts
Due: backend, frontend

chore(main): release 0.8.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: add 14 color scheme themes with LCARS styling and sidebar layout refinements
  frontend/src/app.css
  frontend/src/lib/components/ProgressBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: frontend

feat: LCARS theme panel redesign with structural frames and pill inputs
  frontend/src/app.css
  frontend/src/lib/components/LcarsFrame.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/jobs/+page.svelte
Due: frontend

docs: move related projects to top, fix stale version, add missing config vars
  .env.example
  README.md
Due: none

chore(main): release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: clean up README — remove directory structure, update features, standardize sections
  README.md
Due: none

ci: notify parent repo on every push to main, not just releases
  .github/workflows/notify-parent.yml
  .github/workflows/publish-image.yml
Due: none

chore: set version to 10.0.0-alpha.1
  .release-please-manifest.json
  Dockerfile
  VERSION
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/routers/settings.py
  backend/routers/transcoder.py
  backend/services/arm_client.py
  backend/services/arm_db.py
  backend/services/progress.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/api/settings.ts
  frontend/src/lib/api/transcoder.ts
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
  tests/factories.py
  tests/routers/test_settings.py
Due: backend, frontend

fix: add null guard for settings in armSettingsSection snippet
  frontend/src/routes/settings/+page.svelte
Due: frontend

chore(main): release 10.1.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat!: replace bash script notification with ARM config fields
  backend/routers/settings.py
  backend/services/bash_script.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/settings.ts
  frontend/src/routes/settings/+page.svelte
  tests/routers/test_settings.py
  tests/services/test_bash_script.py
Due: backend, frontend

chore(main): release 11.0.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: add CI, release, Docker, and license badges to README
  README.md
Due: none

fix: remove dead RIPMETHOD_DVD and RIPMETHOD_BR config fields
  frontend/src/routes/settings/+page.svelte
Due: frontend

ci: add dependabot config for docker, actions, pip, and npm
  .github/dependabot.yml
Due: none

fix: replace hardcoded paths with env vars in standalone compose
  docker-compose.yml
Due: none

chore(main): release 11.0.1-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: add CRC database lookup and submit to job detail and review widget
  backend/routers/arm_actions.py
  backend/routers/jobs.py
  backend/services/arm_client.py
  backend/services/crc_lookup.py
  backend/services/progress.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/CrcLookup.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

Revert "chore(deps): bump node from 22-slim to 25-slim"
  Dockerfile
Due: none

build: upgrade Node.js from 22 to 24 LTS
  .github/workflows/test.yml
  Dockerfile
Due: none

build(deps-dev): upgrade vitest and @vitest/coverage-v8 to v4
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-dev): upgrade vite to v7 and @sveltejs/vite-plugin-svelte to v6
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

build(deps-dev): upgrade Tailwind CSS from v3 to v4
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app.css
  frontend/src/lib/components/CountdownTimer.svelte
  frontend/src/lib/components/CrcLookup.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/JobRow.svelte
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/jobs/+page.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
  frontend/tailwind.config.js
  frontend/vite.config.ts
Due: frontend

fix: restore pointer cursor on buttons for Tailwind v4
  frontend/src/app.css
Due: frontend

chore(main): release 11.1.0-alpha.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
