Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

feat: editable episode number per-track on job detail page
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: hide transcoder log section for pre-rip job states
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: show 'Skipped' status for disabled tracks instead of 'Pending'
  frontend/src/lib/utils/format.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: hide filename for skipped tracks on job detail page
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: editable filenames on job detail page matching DiscReviewWidget
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: show rendered filenames from naming engine on job detail page
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: rename 'Title Override' column to 'Title'
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: hide ripped badge for skipped tracks, add transcoded status color (green)
  frontend/src/lib/utils/format.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: consolidate job actions into single action bar below title
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: move IMDb back to title line, style action bar as bordered container
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: flatten drive settings - remove Advanced toggle, show all settings in one panel
  frontend/src/lib/components/DriveCard.svelte
Due: frontend

feat: show global default values as placeholders in drive settings, clear override when matching global
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: add prescan and rip_speed fields to DriveSchema response model
  backend/models/schemas.py
Due: backend

fix: add rip_speed and prescan columns to UI's SystemDrives model
  backend/models/arm.py
Due: backend

feat: rescan drives on settings page load to populate hardware info
  backend/routers/drives.py
  backend/services/arm_client.py
  frontend/src/lib/api/drives.ts
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

fix: unify action bar button sizing and styling on job detail page
  frontend/src/lib/components/JobActions.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: remove invalid @const, inline button class
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: use fixed blue color for Fix Permissions button instead of theme-dependent primary
  frontend/src/lib/components/JobActions.svelte
Due: frontend

fix: add non-null assertions for job in track update handlers
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

test: add rescanDrives mock and backend coverage for drives/rescan endpoint
  frontend/src/routes/settings/__tests__/settings-page.test.ts
  tests/routers/test_drives.py
Due: frontend

fix: add missing fetchNamingPreview mock, update DriveCard tests for flattened settings panel
  frontend/src/lib/components/DriveCard.test.ts
  frontend/src/routes/jobs/__tests__/job-detail-page.test.ts
Due: frontend

fix: filter track counts by minlength so short tracks aren't counted
  backend/services/arm_db.py
Due: backend

fix: show Skipped status and hide Ripped badge for below-minlength tracks
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

docs: add pause/timer fix spec and plan
  docs/superpowers/plans/2026-04-08-pause-timer-fix.md
  docs/superpowers/specs/2026-04-08-pause-timer-fix-design.md
Due: none

fix: simplify CountdownTimer to use paused prop as sole truth
  frontend/src/lib/components/CountdownTimer.svelte
  frontend/src/lib/components/CountdownTimer.test.ts
Due: frontend

fix: wire manual_pause into DiscReviewWidget pause state
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: frontend

fix: send explicit paused value instead of toggle on pause/resume
  backend/routers/arm_actions.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
Due: backend, frontend
