Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: implement dynamic temperature color coding in SidebarStats
  frontend/src/lib/components/SidebarStats.svelte
Due: frontend

fix: TVDB panel delta display and season=0 handling
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/TvdbMatch.svelte
Due: frontend

fix: add border and padding to lcars-body for non-LCARS themes
  frontend/src/app.css
Due: frontend

feat: polish TVDB match panel and job detail UX
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TvdbMatch.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat: settings deep linking, TVDB config, endpoint popovers, UX polish
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add Force Scan button on drive cards
  backend/routers/drives.py
  backend/services/arm_client.py
  frontend/src/lib/api/drives.ts
  frontend/src/lib/components/DriveCard.svelte
Due: backend, frontend

feat: add Force Scan button and udev diagnostic panel on Drives tab
  backend/routers/drives.py
  backend/services/arm_client.py
  frontend/src/lib/api/drives.ts
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

feat: structured diagnostic panel with table layout
  frontend/src/lib/api/drives.ts
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: stale drive removal and diagnostic panel improvements
  backend/routers/drives.py
  backend/services/arm_client.py
  frontend/src/lib/api/drives.ts
  frontend/src/lib/components/DriveCard.svelte
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

fix: Hollywood theme panel borders, hr styling, and tab headings
  frontend/src/app.css
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: show DB migration status and fix Hollywood theme borders
  backend/routers/settings.py
  frontend/src/app.css
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

test: add coverage for system-info DB migration and transcoder version
  tests/routers/test_settings.py
Due: none

test: improve coverage for drives, transcoder, and notifications routers
  tests/routers/test_drives.py
  tests/routers/test_notifications.py
  tests/routers/test_transcoder.py
Due: none

test: add coverage for files, settings, arm_client, arm_db, transcoder_client
  tests/routers/test_files.py
  tests/routers/test_settings_coverage.py
  tests/services/test_arm_client_coverage.py
  tests/services/test_arm_db_coverage.py
  tests/services/test_transcoder_client_coverage.py
  tests/test_dependencies.py
Due: none

fix: resolve SonarCloud issues and frontend type errors
  frontend/src/lib/api/settings.ts
  tests/routers/test_jobs.py
  tests/routers/test_settings.py
  tests/services/test_arm_db_extended.py
  tests/services/test_progress.py
Due: frontend

feat: notifications page with dismiss support
  frontend/src/lib/api/notifications.ts
  frontend/src/routes/notifications/+page.svelte
Due: frontend

fix: exclude stale drives from drives_online count and fix track mock
  backend/routers/dashboard.py
  tests/factories.py
Due: backend

fix: add season/episode/artist/album columns to Job model
  backend/models/arm.py
  tests/factories.py
Due: backend

fix: resolve test failures and add coverage for abcde config endpoints
  tests/factories.py
  tests/routers/test_settings.py
Due: none

fix: use primary color tokens for files page warning banner
  frontend/src/routes/files/+page.svelte
Due: frontend

test: add 55 Python backend tests for codecov patch coverage
  tests/routers/test_jobs_extended.py
  tests/services/test_arm_client_extended.py
  tests/services/test_arm_db_extended.py
  tests/services/test_transcoder_client_extended.py
Due: none

feat: abcde.conf editor, music file browser, webhook test fallback
  backend/routers/settings.py
  backend/services/arm_client.py
  backend/services/transcoder_client.py
  frontend/src/lib/api/settings.ts
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

fix: support ARM_LOGS_PATH override for production log mount
  docker-compose.yml
Due: none

fix: make confirm dialog opaque in themes with semi-transparent surfaces
  frontend/src/app.css
  frontend/src/lib/components/ConfirmDialog.svelte
Due: frontend

feat: replace track enabled buttons with checkboxes and remove Edit column
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

fix: add abcde music progress parsing to UI progress endpoint
  backend/routers/jobs.py
  backend/services/progress.py
Due: backend

feat: multi-title disc support — UI + backend proxy
  backend/models/arm.py
  backend/models/schemas.py
  backend/routers/jobs.py
  backend/services/arm_client.py
  backend/services/arm_db.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/TrackTitleSearch.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

fix: track enabled column + countdown timer start time
  backend/models/arm.py
  backend/models/schemas.py
  backend/services/arm_db.py
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/types/arm.ts
Due: backend, frontend

feat: add AUDIO_FORMAT to rip settings UI
  frontend/src/lib/components/RipSettings.svelte
  frontend/src/lib/types/arm.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
