Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

feat: add maintenance router with ARM proxy, notification, and transcoder cleanup
  backend/main.py
  backend/routers/maintenance.py
Due: backend

fix: proxy transcode-overrides and track-fields through ARM instead of direct DB
  backend/routers/jobs.py
Due: backend

feat: add maintenance API client and tests
  frontend/src/lib/__tests__/maintenance-api.test.ts
  frontend/src/lib/api/maintenance.ts
Due: frontend

feat: add Maintenance nav item to sidebar
  frontend/src/routes/+layout.svelte
Due: frontend

feat: add maintenance page with orphan cleanup, notification, and transcoder sections
  frontend/src/routes/maintenance/+page.svelte
Due: frontend

test: add maintenance page tests
  frontend/src/routes/maintenance/__tests__/maintenance-page.test.ts
Due: frontend

docs: add MakeMKV key validity check design spec
  docs/superpowers/specs/2026-03-22-makemkv-key-check-design.md
Due: none

docs: add MakeMKV key check implementation plan
  docs/superpowers/plans/2026-03-22-makemkv-key-check.md
  docs/superpowers/specs/2026-03-22-makemkv-key-check-design.md
Due: none

feat: add MakeMKV key check and ripping-enabled proxy to arm_client
  backend/services/arm_client.py
Due: backend

feat: add MakeMKV key status to dashboard and key check proxy endpoint
  backend/models/schemas.py
  backend/routers/dashboard.py
Due: backend

feat: add MakeMKV key status to dashboard types, store, and API client
  frontend/src/lib/api/dashboard.ts
  frontend/src/lib/stores/dashboard.ts
  frontend/src/lib/types/arm.ts
Due: frontend

feat: add MakeMKV key status dot to header bar
  frontend/src/routes/+layout.svelte
Due: frontend

feat: add Check Key button to settings, update FindVUK label
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add Maintenance tab button to settings for improved navigation
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

refactor: move Check Key button inline with license key input
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: add MAKEMKV_PERMA_KEY to HIDDEN_KEYS, make key dot red when unchecked
  frontend/src/routes/+layout.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: add Jobs to sidebar nav, remove card view from jobs page
  frontend/src/routes/+layout.svelte
  frontend/src/routes/jobs/+page.svelte
Due: frontend

docs: add jobs page redesign spec
  docs/superpowers/specs/2026-03-22-jobs-page-redesign.md
Due: none

docs: add tech debt note for direct DB access in jobs spec
  docs/superpowers/specs/2026-03-22-jobs-page-redesign.md
Due: none

docs: add jobs page redesign implementation plan
  docs/superpowers/plans/2026-03-22-jobs-page-redesign.md
Due: none

feat: add sorting, disc type filter, and time range to jobs endpoint
  backend/routers/jobs.py
  backend/services/arm_db.py
  tests/routers/test_jobs.py
  tests/routers/test_jobs_filtering.py
Due: backend

feat: add GET /api/jobs/stats endpoint with filter support
  backend/routers/jobs.py
  backend/services/arm_db.py
  tests/routers/test_jobs_stats.py
Due: backend

feat: add bulk delete and purge endpoints for jobs
  tests/routers/test_jobs_bulk.py
Due: none

feat: add sort, filter, stats, and bulk operations to jobs API client
  frontend/src/lib/api/jobs.ts
Due: frontend

feat: add checkbox to JobRow, purge action to JobActions
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/JobRow.svelte
Due: frontend

feat: redesign jobs page with stats bar, pill filters, sortable headers, gear menu
  frontend/src/routes/jobs/+page.svelte
Due: frontend

fix: update jobs page test mock to include fetchJobStats
  frontend/src/routes/jobs/__tests__/jobs-page.test.ts
Due: frontend

fix: purge now cleans raw_path, transcode_path, and completed path
  backend/routers/jobs.py
Due: backend

feat: add log file download and delete functionality
  backend/routers/logs.py
  backend/services/log_reader.py
  frontend/src/lib/api/logs.ts
  frontend/src/routes/logs/+page.svelte
  frontend/src/routes/logs/__tests__/logs-page.test.ts
Due: backend, frontend

fix: handle ARM error responses in maintenance _check_arm
  backend/routers/maintenance.py
Due: backend

chore: add .superpowers to gitignore
  .gitignore
Due: none

fix: add missing DashboardData fields, fix test mocks for ARM proxy
  frontend/src/routes/+page.svelte
  tests/routers/test_jobs_extended.py
Due: frontend

test: add coverage tests for maintenance, log delete, dashboard key check
  tests/routers/test_dashboard.py
  tests/routers/test_logs_delete.py
  tests/routers/test_maintenance.py
  tests/services/test_log_reader_delete.py
Due: none

fix: prevent scroll lock when navigating to settings panel via hash link
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: reset scroll position before navigating to settings panel
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: use instant scroll and longer delay for settings panel navigation
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: only scroll to settings panel on in-page nav, not initial load
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: use MutationObserver + requestIdleCallback for reliable panel scroll
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat: display current commit hash in layout for better version tracking
  frontend/src/routes/+layout.svelte
Due: frontend

feat: fetch and display the latest GitHub commit hash in the layout
  frontend/scripts/fetch-github-commit.sh
  frontend/src/lib/github-commit.ts
  frontend/src/routes/+layout.svelte
Due: frontend
