Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

fix: add missing cleared property to notification test mock data
  frontend/src/routes/notifications/__tests__/notifications-page.test.ts
Due: frontend

test: add image cache API tests and radius token validation
  frontend/src/lib/__tests__/colorScheme.test.ts
  frontend/src/lib/__tests__/maintenance-api.test.ts
Due: frontend

chore: exclude test files from SonarCloud analysis scope
  sonar-project.properties
Due: none

feat: folder import wizard polish and review widget improvements
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/FolderBrowser.svelte
  frontend/src/lib/components/FolderImportWizard.svelte
Due: frontend

chore: exclude test files from SonarCloud duplication analysis
  sonar-project.properties
Due: none

refactor: dissolve maintenance page into contextual locations
  frontend/src/app.css
  frontend/src/routes/+layout.svelte
  frontend/src/routes/files/+page.svelte
  frontend/src/routes/logs/+page.svelte
  frontend/src/routes/maintenance/+page.svelte
  frontend/src/routes/maintenance/__tests__/maintenance-page.test.ts
  frontend/src/routes/notifications/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix: merge API theme tokens with built-in defaults to preserve --radius
  frontend/src/lib/stores/colorScheme.ts
Due: frontend

test: add FolderBrowser, FolderImportWizard, and DiscReviewWidget tests
  frontend/src/lib/components/__tests__/DiscReviewWidget.test.ts
  frontend/src/lib/components/__tests__/FolderBrowser.test.ts
  frontend/src/lib/components/__tests__/FolderImportWizard.test.ts
Due: frontend

chore: revert broad sonar exclusion, keep cpd exclusion only
  sonar-project.properties
Due: none

fix: use non-public path in test mock data for SonarCloud
  frontend/src/lib/__tests__/maintenance-api.test.ts
Due: frontend

fix: theme flash, panel accent colors, maintenance text sizes, radius tokens, and collapsible file paths
  backend/themes/builtin/blockbuster.json
  backend/themes/builtin/blue.json
  backend/themes/builtin/cinema.json
  backend/themes/builtin/craft.json
  backend/themes/builtin/forest.json
  backend/themes/builtin/gaming.json
  backend/themes/builtin/glass.json
  backend/themes/builtin/hollywood-video-v2.json
  backend/themes/builtin/lcars.json
  backend/themes/builtin/ocean.json
  backend/themes/builtin/rose.json
  backend/themes/builtin/royale.json
  backend/themes/builtin/sunset.json
  backend/themes/builtin/tactical.json
  backend/themes/builtin/terminal.json
  backend/themes/builtin/violet.json
  frontend/src/app.css
  frontend/src/lib/stores/colorScheme.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/files/+page.svelte
  frontend/src/routes/maintenance/+page.svelte
Due: backend, frontend

fix: replace require() with await import() in FolderBrowser test
  frontend/src/lib/components/__tests__/FolderBrowser.test.ts
Due: frontend

fix: use full words for GPU labels in bottom stats bar
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
Due: frontend

test: add GPU metrics coverage for SidebarStats, BottomStatsBar, and transcoder page
  frontend/src/lib/components/SidebarStats.test.ts
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
  frontend/src/routes/transcoder/__tests__/transcoder-page.test.ts
Due: frontend

feat: display GPU utilization metrics in transcoder tab, sidebar, and bottom bar
  backend/models/schemas.py
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/types/arm.ts
  frontend/src/routes/transcoder/+page.svelte
Due: backend, frontend

feat: add power draw, clocks to GPU metrics; rename Utilization to Load
  backend/models/schemas.py
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/components/SidebarStats.test.ts
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
  frontend/src/lib/types/arm.ts
  frontend/src/routes/transcoder/+page.svelte
  frontend/src/routes/transcoder/__tests__/transcoder-page.test.ts
Due: backend, frontend

feat: add dedicated GPU tab to sidebar and bottom stats bar
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/lib/components/SidebarStats.test.ts
  frontend/src/lib/components/__tests__/BottomStatsBar.test.ts
Due: frontend

feat: color-coded vendor pills — nvidia green, amd red, intel blue
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
  frontend/src/routes/transcoder/+page.svelte
Due: frontend

chore(main): release 14.2.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: multi-title movie review — toggle, auto-default, conditional fields
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/DiscReviewWidget.test.ts
Due: frontend

ci: add pre-release Docker image builds on release-please PRs
  .github/workflows/publish-prerelease.yml
  release-please-config.json
Due: none

chore(main): release 14.3.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix: theme polish — section frame gaps, LCARS fixes, review panel border, cache feedback
  backend/themes/builtin/lcars.css
  frontend/src/app.css
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

feat: add 15 new built-in themes, reorder by hue
  backend/themes/builtin/coffee.css
  backend/themes/builtin/coffee.json
  backend/themes/builtin/deep-sea-abyss.css
  backend/themes/builtin/deep-sea-abyss.json
  backend/themes/builtin/dracula-pro.css
  backend/themes/builtin/dracula-pro.json
  backend/themes/builtin/library-archive.css
  backend/themes/builtin/library-archive.json
  backend/themes/builtin/nordic-frost.css
  backend/themes/builtin/nordic-frost.json
  backend/themes/builtin/research-outpost.css
  backend/themes/builtin/research-outpost.json
  backend/themes/builtin/retro-console.css
  backend/themes/builtin/retro-console.json
  backend/themes/builtin/royal-archive.css
  backend/themes/builtin/royal-archive.json
  backend/themes/builtin/solarized-dark.css
  backend/themes/builtin/solarized-dark.json
  backend/themes/builtin/stealth-ops.css
  backend/themes/builtin/stealth-ops.json
  backend/themes/builtin/synth-retro-v2.css
  backend/themes/builtin/synth-retro-v2.json
  backend/themes/builtin/synth-retro.css
  backend/themes/builtin/synth-retro.json
  backend/themes/builtin/tokyo-night.css
  backend/themes/builtin/tokyo-night.json
  backend/themes/builtin/vcr-osd.css
  backend/themes/builtin/vcr-osd.json
  frontend/src/lib/stores/colorScheme.ts
Due: backend, frontend

docs: add missing ARM_UI_ARM_THEMES_PATH and ARM_UI_IMAGE_CACHE_PATH to config docs
  .env.example
  README.md
Due: none

ci: add gitleaks secret scanning and CodeQL analysis
  .github/workflows/codeql.yml
  .github/workflows/gitleaks.yml
Due: none

test: add coverage for dark mode toggle and naming preview error path
  frontend/src/lib/components/__tests__/DiscReviewWidget.test.ts
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix: resolve svelte-check errors — a11y label and TypeScript mock types
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

test: add cache clear feedback coverage and fix a11y/type errors
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend
