Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 50%

flags:
  backend:
    paths: ["backend/"]
  frontend:
    paths: ["frontend/src/"]

comment:
  layout: "header"
  require_changes: false

feat(ui): hide transcoder tab on logs page when disabled
  frontend/src/routes/logs/+page.svelte
Due: frontend

feat(ui): hide transcoder surfaces on job detail when disabled
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

feat(ui): hide transcoder+gpu panels in stats bars when disabled
  frontend/src/lib/components/BottomStatsBar.svelte
  frontend/src/lib/components/SidebarStats.svelte
Due: frontend

feat(ui): hide transcoder status in empty dashboard panel when disabled
  frontend/src/lib/components/EmptyDashboardPanel.svelte
Due: frontend

feat(ui): redirect /transcoder and /logs/transcoder when disabled
  frontend/src/routes/__tests__/transcoder-guard.test.ts
  frontend/src/routes/logs/transcoder/[filename]/+page.ts
  frontend/src/routes/transcoder/+page.ts
Due: frontend

refactor(dashboard): extract _load_db_state and _fetch_transcoder_system_stats
  backend/routers/dashboard.py
  tests/test_require_transcoder_enabled.py
Due: backend

test: suppress SonarCloud S5332 on httpx test base_url
  tests/conftest.py
Due: none

test(ui): DRY transcoder guard tests with describe.each
  frontend/src/routes/__tests__/transcoder-guard.test.ts
Due: frontend

docs(readme): document ARM_UI_TRANSCODER_ENABLED flag
  README.md
Due: none

feat(ui): hydrate transcoder-enabled flag from root layout load
  frontend/src/lib/stores/__tests__/config.test.ts
  frontend/src/routes/+layout.ts
Due: frontend

feat(deps): add require_transcoder_enabled guard
  backend/dependencies.py
  tests/test_require_transcoder_enabled.py
Due: backend

feat(settings): skip transcoder config load when disabled
  backend/routers/settings.py
  tests/routers/test_settings.py
Due: backend

feat(ui): hide transcoder settings tab + subpanels + SKIP_TRANSCODE when disabled
  frontend/src/routes/settings/+page.svelte
Due: frontend

feat(transcoder): gate all /api/transcoder/* behind feature flag
  backend/routers/transcoder.py
  tests/routers/test_transcoder.py
Due: backend

feat(jobs): gate transcode-config and retranscode behind feature flag
  backend/routers/jobs.py
  tests/routers/test_jobs.py
Due: backend

feat(config): add /api/config feature-flag discovery endpoint
  backend/main.py
  backend/routers/config.py
  tests/routers/test_config.py
Due: backend

feat(ui): hide dashboard transcoding section when disabled
  frontend/src/routes/+page.svelte
Due: frontend

test(fixtures): add ripper_only_app_client async fixture
  tests/conftest.py
  tests/test_ripper_only_fixture.py
Due: none

feat(config): add transcoder_enabled flag (default true)
  backend/config.py
  tests/test_config.py
Due: backend

feat(settings): gate transcoder-scoped endpoints behind feature flag
  backend/routers/settings.py
  tests/routers/test_settings.py
Due: backend

feat(dashboard): short-circuit transcoder fetch when flag disabled
  backend/routers/dashboard.py
  tests/routers/test_dashboard.py
Due: backend

feat(ui): add transcoderEnabled store hydrated from /api/config
  frontend/src/lib/api/config.ts
  frontend/src/lib/stores/__tests__/config.test.ts
  frontend/src/lib/stores/config.ts
Due: frontend

feat(ui): filter transcoder from nav + quick actions when disabled
  frontend/src/routes/+layout.svelte
Due: frontend

feat(setup): hide transcoder surfaces in new-user walkthrough
  frontend/src/lib/components/setup/SettingsReviewStep.svelte
  frontend/src/lib/components/setup/WelcomeStep.svelte
Due: frontend

fix(arm_client): bump preflight timeout to 30s
  backend/services/arm_client.py
Due: backend

test(arm_client): cover preflight timeout to satisfy codecov/patch
  tests/services/test_arm_client.py
Due: none

chore(main): release 16.3.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none
