Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(mobile): responsive enhancements across tables, layouts, drawer
  frontend/src/app.css
  frontend/src/lib/components/JobActions.svelte
  frontend/src/lib/components/JobRow.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/logs/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: frontend

chore(main): release 16.4.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat(transcoder): surface current encoder FPS during transcode
  backend/routers/transcoder.py
  frontend/src/lib/api/logs.ts
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/components/TranscodeCard.test.ts
  frontend/src/lib/types/transcoder.ts
  frontend/src/routes/jobs/[id]/+page.svelte
Due: backend, frontend

fix(jobs): skip loading flicker on poll-driven refresh of /jobs/[id]
  frontend/src/routes/jobs/[id]/+page.svelte
Due: frontend

chore(main): release 16.5.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

fix(settings): polish settings page layout
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix(settings): add breathing room below tabs + normalise heading spacing
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix(settings): wrap Transcoding tab body in space-y-6
  frontend/src/routes/settings/+page.svelte
Due: frontend

fix(settings): even spacing between Transcoding tab heading + description + first section
  frontend/src/routes/settings/+page.svelte
Due: frontend

chore(main): release 16.5.1
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: polish README - mobile-first call-out + staleness fixes
  README.md
Due: none

docs: align .env.example and docker-compose with documented config
  .env.example
  docker-compose.yml
Due: none

fix(security): contain progress-file paths under arm_log_path
  backend/services/progress.py
  tests/services/test_progress.py
Due: backend

chore(main): release 17.0.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

docs: refresh README architecture for HTTP-only BFF + drop dead DriveSchema fields
  README.md
  backend/models/schemas.py
Due: backend

ci: auto-bump bot now derives commit prefix from contracts impact
  .github/workflows/bump-submodule.yml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
