Repository uprightbass360/automatic-ripping-machine-ui: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

test: add cache clear feedback coverage and fix a11y/type errors
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix: resolve svelte-check errors — a11y label and TypeScript mock types
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

feat: add 15 new built-in themes, reorder by hue
  backend/themes/builtin/coffee.css
  backend/themes/builtin/coffee.json
  backend/themes/builtin/deep-sea-abyss.css
  backend/themes/builtin/deep-sea-abyss.json
  backend/themes/builtin/dracula-pro.css
  backend/themes/builtin/dracula-pro.json
  backend/themes/builtin/library-archive.css
  backend/themes/builtin/library-archive.json
  backend/themes/builtin/nordic-frost.css
  backend/themes/builtin/nordic-frost.json
  backend/themes/builtin/research-outpost.css
  backend/themes/builtin/research-outpost.json
  backend/themes/builtin/retro-console.css
  backend/themes/builtin/retro-console.json
  backend/themes/builtin/royal-archive.css
  backend/themes/builtin/royal-archive.json
  backend/themes/builtin/solarized-dark.css
  backend/themes/builtin/solarized-dark.json
  backend/themes/builtin/stealth-ops.css
  backend/themes/builtin/stealth-ops.json
  backend/themes/builtin/synth-retro-v2.css
  backend/themes/builtin/synth-retro-v2.json
  backend/themes/builtin/synth-retro.css
  backend/themes/builtin/synth-retro.json
  backend/themes/builtin/tokyo-night.css
  backend/themes/builtin/tokyo-night.json
  backend/themes/builtin/vcr-osd.css
  backend/themes/builtin/vcr-osd.json
  frontend/src/lib/stores/colorScheme.ts
Due: backend, frontend

test: add coverage for dark mode toggle and naming preview error path
  frontend/src/lib/components/__tests__/DiscReviewWidget.test.ts
  frontend/src/routes/settings/__tests__/settings-page.test.ts
Due: frontend

fix: theme polish — section frame gaps, LCARS fixes, review panel border, cache feedback
  backend/themes/builtin/lcars.css
  frontend/src/app.css
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/settings/+page.svelte
Due: backend, frontend

chore(main): release 14.4.0
  .release-please-manifest.json
  CHANGELOG.md
  VERSION
Due: none

feat: metadata search pagination and poster fallback handling
  backend/routers/jobs.py
  backend/services/arm_client.py
  frontend/src/lib/api/jobs.ts
  frontend/src/lib/components/CrcLookup.svelte
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/FolderImportWizard.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/MusicSearch.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TrackTitleSearch.svelte
  frontend/src/lib/utils/poster.ts
  frontend/src/routes/jobs/[id]/+page.svelte
  frontend/src/routes/transcoder/+page.svelte
Due: backend, frontend

feat: add Scanning panel to dashboard for identifying jobs
  frontend/src/app.css
  frontend/src/lib/__tests__/format.test.ts
  frontend/src/lib/utils/format.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

fix: TS type error on search button and test assertion for page param
  frontend/src/lib/components/TrackTitleSearch.svelte
  tests/routers/test_metadata.py
Due: frontend

fix: update tests for poster placeholder, multi-title search, and onclear
  frontend/src/lib/__tests__/poster.test.ts
  frontend/src/lib/components/DiscReviewWidget.test.ts
  frontend/src/lib/components/TrackTitleSearch.test.ts
Due: frontend

refactor: extract PosterImage component to reduce duplication
  frontend/src/lib/components/CrcLookup.svelte
  frontend/src/lib/components/JobCard.svelte
  frontend/src/lib/components/PosterImage.svelte
  frontend/src/lib/components/TitleSearch.svelte
  frontend/src/lib/components/TrackTitleSearch.svelte
Due: frontend

refactor: convert remaining poster img to PosterImage in FolderImportWizard
  frontend/src/lib/components/FolderImportWizard.svelte
Due: frontend

fix: use Annotated type hints for FastAPI query params (SonarCloud)
  backend/routers/jobs.py
Due: backend

test: add posterFallback coverage tests
  frontend/src/lib/__tests__/poster.test.ts
Due: frontend

refactor: parameterize multi-title Search button tests to reduce duplication
  frontend/src/lib/components/DiscReviewWidget.test.ts
Due: frontend

feat: collapsible ActiveJobRow for dashboard rips, scanning, and transcodes
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/__tests__/ActiveJobRow.test.ts
  frontend/src/lib/test-setup.ts
  frontend/src/routes/+page.svelte
Due: frontend

feat: unified collapsible row style for rips and transcodes
  frontend/src/lib/components/ActiveJobRow.svelte
  frontend/src/lib/components/TranscodeCard.svelte
  frontend/src/lib/components/TranscodeCard.test.ts
  frontend/src/routes/+page.svelte
Due: frontend

fix: remove dev preview fake transcode data from dashboard
  frontend/src/routes/+page.svelte
Due: frontend

fix: episode matching UX — stable table, loading state, search + match flow
  frontend/src/lib/components/DiscReviewWidget.svelte
  frontend/src/lib/components/EpisodeMatch.svelte
  frontend/src/lib/components/TitleSearch.svelte
Due: frontend

fix: keep controls visible during episode match loading to prevent vertical jump
  frontend/src/lib/components/EpisodeMatch.svelte
Due: frontend

fix: update test — Search button now visible for multi-title series
  frontend/src/lib/components/DiscReviewWidget.test.ts
Due: frontend

feat: merge Jobs page into Dashboard and remove standalone /jobs route
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/__tests__/dashboard-page.test.ts
  frontend/src/routes/jobs/+page.svelte
  frontend/src/routes/jobs/__tests__/jobs-page.test.ts
Due: frontend

test: add coverage for dashboard jobs section (stats, filters, search, sort, selection, bulk actions, pagination)
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

refactor: extract dashboard job UI into reusable components
  frontend/src/lib/components/BulkActionsMenu.svelte
  frontend/src/lib/components/JobFilterBar.svelte
  frontend/src/lib/components/JobPagination.svelte
  frontend/src/lib/components/JobStatsPanel.svelte
  frontend/src/routes/+page.svelte
Due: frontend

fix: resolve SonarCloud warnings — unused import, raw string, non-null assertions
  frontend/src/routes/__tests__/dashboard-page.test.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/src/
